 
Radio Button: <input type="text" id="myRadio">

<input type="radio" name="gender" value="male"  onclick="disable()"/>
<input type="radio" name="gender" value="male" onclick="undisable()">
<script>
function disable() {
  document.getElementById("myRadio").disabled = true;
}
function undisable() {
  document.getElementById("myRadio").disabled = false;
}
</script>
 