
html, body, div {font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;}
* {margin:0;padding:0;}
p{text-indent:0px!important; margin: 5px 0 10px 0;}
img {border:0px;}
p img {margin: 5px 0 5px 0px; padding:0; max-width:100%;}
table, th, td, tr{ padding: 8px; border: 1px solid #D8D8D8; border-collapse: collapse;}
body{font-family:  Arial, sans-serif; font-size:14px; color: #3e3e3e; background-color: #eee!important; width: 100%;}
blockquote {border-left: 3px solid #f14d4d;font-family: Georgia, serif;font-size: 16px;font-style: italic;width: 90%;margin: 12px 0px;padding: 0px 0px 0px 40px;line-height: 26px;position: relative;color: #777;}
.clear{ clear: both; }
h1 {font-size: 40px; color: #000; font-weight: normal; line-height: 150%;}
h2 {font-size: 30px; color: #000; font-weight: normal; line-height: 150%;}
h3 {font-size: 25px; color: #000; font-weight: normal; line-height: 180%;}
h4 {font-size: 21px; color: #000; font-weight: normal; line-height: 180%;}
h5 {font-size: 18px; color: #000; font-weight: normal; line-height: 220%;}
h6 {font-size: 15px; color: #000; font-weight: normal; line-height: 240%;}
a {color:#f14d4d; text-decoration:none;} 
a:hover {color: #fb8383; text-decoration:none;} 
ul, li{list-style: none; list-style-type: none;}
code, pre {display: block; background: #d9d9d9; border: 1px solid #ccc; overflow: scroll; padding: 10px;}
select {background-color:#FFFFFF;border:1px solid #DDDDDD;outline:none;padding:8px 10px;}
img.centered {display: block; margin-left: auto; margin-right: auto;}
img.alignright {margin: 7px 0px 10px 30px!important; display: inline-block;}
img.alignleft {margin: 7px 30px 10px 0px!important; display: inline-block;}
.wp-caption.aligncenter {display: block; margin-left: auto; margin-right: auto;width:100%!important;}
.wp-caption.alignright {float:right; margin: 7px 0px 10px 30px!important;}
.wp-caption.alignleft {float:left; margin: 7px 30px 10px 0px!important;}	
.aligncenter, div.aligncenter {display: block;}
.alignright {float: right!important;}
.alignleft {float: left!important;}
.left{float: left!important;}
.right{float: right!important;}
.gallery-caption {text-align:center;}
.sticky {background: #edf8ff!important;}
.noside{text-align:center;padding:10px;}
.hide{display: none;}
.not_found_img{width: 60%; margin: 0 auto;}
.not_found_img img{height: auto;}

.container{ width: 88%;margin: 0 auto;padding: 0px;float: none; }
header{padding:10px 0px;}
.main-content{padding:0px;background: #fff;}
.banner{overflow:hidden;padding: 18px 0px; background: red;
	background: #fff url("http://www.loofre.com/wp-content/themes/loofre/images/border-top.gif") center top no-repeat;
	border-radius: 5px;
	border-bottom: 3px solid #ed3237;
	background-size: 100% 4px;
}
.banner img{width:100%;}
 img{width:100%;}
.logo{padding: 20px 42px;}
.listing{margin: 38px 0px;}

.list_img img{max-height:160px;min-height: 160px; transition: .6s ease;}
.list_img img:hover{ transform: scale(1.03);}
.list-info{display:block;text-align:center;}
.list-info h3{color: #676767;font: normal 18px 'texgyreherosregular';text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin: 2px;}
.list-info h4{color: #676767;font: normal 14px 'texgyreherosregular';text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin: 2px;}
.list-tabs{padding:0px;}
.listing-box{margin: 50px 0px 0px 0px;}	
.listing-box .btn{color:#fff;}
.btn-offer {background:#3c3c3c;border-color:#fff!important;cursor: not-allowed;pointer-events: none;opacity: 0.2;}
.btn-book{background:#df191f;border-color:#fff!important;cursor: not-allowed;pointer-events: none;opacity: 0.2;}
.unlock_offer .btn-offer{background:#3c3c3c;border-color:#fff!important;display:block!important;
cursor: pointer;pointer-events: visible;opacity: unset;
}
.Booking .btn-book{background:#df191f;border-color:#fff!important;display:block!important;
cursor: pointer;pointer-events: visible;opacity: unset;
}
.wellness .btn-offer{background:#3c3c3c;border-color:#fff!important;display:block!important;
cursor: pointer;pointer-events: visible;opacity: unset;
}
.wellness .btn-book{background:#df191f;border-color:#fff!important;display:block!important;
cursor: pointer;pointer-events: visible;opacity: 0.2;
}
.Buffet .btn-offer{background:#3c3c3c;border-color:#fff!important;display:block!important;
cursor: not-allowed;pointer-events: none;opacity: 0.2;
}



.discountOffered {
    position: absolute;
    color: #fff;
    margin: 7px 0px 0px -15px;
    height: 25px;
    z-index: 2;
    line-height: 25px;
    width: 75px;
    font-size: 14px;
    font-weight: bold;
    background: #e62025;
    box-shadow: 3px -3px 2px rgba(256, 256, 256, 1)
    text-align: center;
}
.discountOffered::before {
    background: url("http://www.loofre.com/wp-content/themes/loofre/images/heading-shadow.png") no-repeat left top;
    position: relative;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.5);
    top: 25px;
    left: 0;
    color: transparent;
    float: left;
    width: 11px;
    height: 11px;
    content: " ";
}
.cuisine{ text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
#vendor_list{min-height:700px;min-height: 700px;
    background: url(http://www.loofre.co.in/images/loofre_loader.gif) no-repeat top;
    }
/* Header CSS start     */

.search-conent{margin-top:51px!important;}
#header_section header{    position: fixed; z-index: 999;}
.mbar{	
    width: 28px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}
#myAccount{background:none;border:none;}
.logo img{width:80%;}



/* Header CSS end     */
/* search CSS start     */

#city_replan{
    border-bottom: 1px solid #ed3237;
    width: 30%;
    margin: 7px auto;
    float: left;
    font-size: 11px;
    color: #f58634;
    cursor: pointer;
}
.location-marker{float:left;}
#select_city{
	border-bottom: 1px solid;
    width: 100%;
    margin: 0 auto;
    float: left;
    padding: 5px 0px;
	}
#citybox{width: 70%;color: #4e4e4e;display:none;}
#select_city > a.btn {
    color: #fff;
    text-align: center;
    text-decoration: none;
}
#autoLocationbtn{background: #ed3237; float:right;}
#autoLocationbtn > a.btn{color: #fff; float:right;}
#map {
        height: 60px;
        width:100%;
      }

      #floating-panel {
        position: absolute;
        z-index: 5;
        background-color: #000;
        padding: 12px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
		width: 100%;
		height: 60px;
      }
      #localityboxInput{width:88%; border-radius: 3px;}
      #latlng {
        width: 200px;
      }

#cityboxInput{color:#000;width: 57%;border: none;border-radius: 3px;}
#cityboxInput,#citylist,#localitylist{display:none;}
#citylist ul{  position: absolute;
    z-index: 9999999999;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    background-color: #000000ba;
    }
    
#citylist ul > li{ border-bottom: 0.02em solid;background: #000;}

#localitylist ul{
    z-index: 9999999999;
    width: 100%;
    margin: 0 auto;
    color: #fff;
    background-color: #fff;
    }
    
#localitylist ul > li{     border-bottom: 0.02em solid;
    background: #000; 
    width: 48%;
    display: inline-block;
    margin: 0px 1% 2px 1%;
    }
/* search CSS end     */
/* Left sidebar CSS start     */

	.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 300px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

/*Left*/
	.modal.left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
	.modal.left.fade.in .modal-dialog{
		left: 0;
	}

/* ----- MODAL STYLE ----- */
	.modal-content {
		border-radius: 0;
		border: none;
	}

	.modal-header {
		border-bottom-color: #EEEEEE;
		background-color: #FAFAFA;
	}
	#unlockCode .modal-dialog {
		border: 5px solid #ca292e;
	}
	#unlockCode .close {
    color: #ca292e;
    opacity: 1;
}
/* ----- v CAN BE DELETED v ----- */
body {
	background-color: #78909C;
}

.demo {
	padding-top: 60px;
	padding-bottom: 110px;
}

.btn-demo {
	margin: 15px;
	padding: 10px 15px;
	border-radius: 0;
	font-size: 16px;
	background-color: #FFFFFF;
}

.btn-demo:focus {
	outline: 0;
}

.demo-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 15px;
	background-color: #212121;
	text-align: center;
}
.modal-header img{width:100%!important;}
#sidebarHead{padding:0px!important;}
#logout{float:right;}
/* Left sidebar CSS end  */

.discountSec{color:green; font-size:20px;padding:5px; font-weight:600;}
.modal-header .logo img{width:50%!important; margin: 0px 6px 0px 0px;}
#unlockCode .modal-header{padding:2px 15px!important; }
.disInfo{font-size:20px;padding:5px;font-weight:600;}
#callbtn a{font-size: 17px;color: #fff;padding: 0px 8px;}

#frame1{background:url(http://phplaravel-179910-524161.cloudwaysapps.com/images/loofre_loader.gif) center center no-repeat;}
#iframe_content #frame1{
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
  /*background-color: #212121; */
}



@media screen and (max-width:600px){
	.active{background:#fff;}
	.disInfo{font-size:12px;padding:2px;font-weight:600;}
	.logo{padding:0px; display: inline-block; overflow: hidden;}
	.container{ width: 100%;margin: 0 auto;padding: 0px;float: none;}
    #accn{margin: 0px!important;}
    header{padding:10px 0px 6px 0px;}

	}
