
@media only screen and (min-width: 978px) and (max-width: 1200px){


#all_content.boxed_width{
max-width: 968px;
overflow: hidden;
}

#all_content.boxed_width div{
max-width: 968px;
}

#all_content.boxed_width .inner{
max-width: 948px!important;
}

.inner{
max-width: 948px!important;
}

#all_content.boxed_width #header_top_menu .inner{
max-width: 968px!important;
}

.menu_inner{
max-width: 968px!important;
}

#wowslider-container1 .ws-title{
padding: 170px 15%;
}


.sw-navigation {
top: 100px;
}

.grid_middle {
width: 300px;
}

.grid_middle  img {
height: 100%!important;
}

.grid_middle h2 {
background: #fff;
position: absolute;
bottom: 70px;
left: 20px;
width: 240px;
margin: 50px 0px 0px 0px;
padding: 10px 10px;
font-size: 15px;
line-height: 22px;
color: #fff;
z-index: 999;
}


.rsFirstSlideTitle {
top: 250px;
}

.rsSecondSlideTitle {
top: 200px;
}

.widget_menu_posts li{
width: 17.8%!important;
}

.custom-menu-recent-category-widget .tab_inner .widget_menu_posts li{
width: 21.9%!important;
}

.widget_menu_title a{ 
font-size: 13px!important;
line-height: 21px!important;
}

.custom-menu-recent-category-widget .tab_inner .widget_menu_posts .widget_menu_title a{
font-size: 13px!important;
line-height: 21px!important;
}

.tab_nav {
width: 180px;
}



.feat_image_content {
padding-bottom: 60px;
}

.feat_image_content h1 {      
font-size: 13px;
line-height: 20px;
}

.feat_image_one{
margin: 0px 0px 11px 0px;
}


#banner_header_728 img{
max-width: 700px;
}

.wrapHighlight {
width: 700px!important;
height: 90px!important;
}

.wrapHighlight img{
width: 700px!important;
max-width: 700px!important;
height: auto!important;
margin: 0px!important;
}

#content.hide_sidebar #banner_index_728{
margin: 0px 0px 30px 11%;
width: 728px;
}

#sidebar-footer{
width: 100%;
}

.footer-widget{
width: 285px;
margin: 10px 0px 20px 10px!important;
}

.recent_cat_third li:first-child .widget_thumbnail_third{
max-height: 220px;
}


#left_side, #left_side.ss_right_position, #sidebar-left, #sidebar-left.ss_right_position  {
display: none!important; 
}


#home_content{
width: 420px; 
}

#home_content.content_with_one_sidebar{
width: 620px; 
}

#home_content.content_full_width{
width: 100%; 
}

#home_main_posts, #home_blog_posts, #home_line_posts, #home_grid_posts{
width: 100%!important;
max-width: 100%!important;
}

#cat_feat_posts .feat_post_box:first-child{
width: 652px;
}

#cat_feat_posts .feat_post_box{
width: 326px;
}

#cat_feat_posts .feat_post_box:first-child a img{
width: 652px;
height: 290px;
}

#cat_feat_posts .feat_post_box a img{
width: 326px;
height: 290px;
}


.sb_retro_skin_category .showbiz-title a,
#content.hide_sidebar .sb_retro_skin_category .showbiz-title a{	
width: 98.7%;
}	

.sb_retro_skin_category .sb-nav-retro  .sb-navigation-left,
.sb_retro_skin_category .sb-nav-retro  .sb-navigation-right{	
top: 180px;
}

.cat_small_slider .showbiz-title a,
.cat_small_slider .showbiz-title a:visited{	
font-size: 20px;
line-height: 30px;
}

.cat_small_slider .sb_retro_skin_category .showbiz-title a{	
width: 91%;
}	

.cat_small_slider .sb_retro_skin_category .sb-nav-retro  .sb-navigation-left,
.cat_small_slider .sb_retro_skin_category .sb-nav-retro  .sb-navigation-right{	
top: 180px;
}

#content {
width: 420px; 
}

#content.content_with_one_sidebar{
width: 620px; 
}

#content.hide_sidebar{
width: 940px; 
}

.post, .product  {
width: 420px; 
}

#content.content_with_one_sidebar .post,
#content.content_with_one_sidebar .product{
width: 300px; 
}

#content.hide_sidebar .post, 
#content.hide_sidebar  .product  {
width: 300px; 
}


.index_inner {
width: 104%;
}

#content.hide_sidebar .index_inner {
width: 102%;
}

.index_inner.one_column {
width: 100%;
}

#content.hide_sidebar .index_inner.one_column {
width: 102%;
}

#content.hide_sidebar .index_inner.one_column .post, 
#content.hide_sidebar  .index_inner.one_column .product{
width: 455px!important;
}

.index_inner.one_column .post, 
.index_inner.one_column .product{
width: 100%;
}

.index_inner.one_line .post, 
.index_inner.one_line .product{
width: 100%;
}

.index_inner.one_line .post h2 a, 
.index_inner.one_line .product h2 a{
display: inline-block;
}

.index_inner.one_line .post p{
display: inline-block;
padding: 10px 0px 10px 0px!important;
}

.index_inner.one_line .custom_read_more{
display: inline-block;
margin: 10px 0px 5px 0px;
}

#content.content_with_one_sidebar .index_inner.one_line .post h2 a, 
#content.content_with_one_sidebar .index_inner.one_line .product h2 a,
#content.hide_sidebar .index_inner.one_line .post h2 a, 
#content.hide_sidebar .index_inner.one_line .product h2 a{
display: block;
}

#content.content_with_one_sidebar .index_inner.one_line .post p,
#content.hide_sidebar .index_inner.one_line .post p{
display: block;
padding: 10px 0px 10px 0px!important;
}

#content.content_with_one_sidebar .index_inner.one_line .custom_read_more,
#content.hide_sidebar .index_inner.one_line .custom_read_more{
display: block;
margin: 10px 0px 5px 0px;
}


#content.content_with_one_sidebar .index_inner.one_column .post, 
#content.content_with_one_sidebar  .index_inner.one_column .product{
width: 97.5%;
}

#content.hide_sidebar .index_inner.one_line, 
#content.hide_sidebar .index_inner.one_line{
width: 940px!important;
}

#content.hide_sidebar .index_inner.one_line .post, 
#content.hide_sidebar .index_inner.one_line .product{
width: 940px!important;
}

.blog_post.One_column_column {
width: 96%!important;
}

.blog_post.Two_column_column {
width: 96%!important;
}

.blog_post.Three_column_column {
width: 92%!important;
}

.blog_post.Four_column_column {
width: 88%!important;
}

#home_content.content_with_one_sidebar .blog_post.Three_column_column {
width: 94%!important;
}
#home_content.content_with_one_sidebar .blog_post.Four_column_column {
width: 91%!important;
}


.main_post {
width: 100%;
}

.main_post.first_post{
margin: 0px 0px 25px 0px;
}

#home_content.content_with_one_sidebar .main_post.first_post{
margin: 0px 20px 25px 0px;
}

#home_content.content_full_width .main_post.first_post{
margin: 0px 20px 25px 0px;
}

.line_post {
width: 45.5%;
}

.line_post.first_post .short_image_box{
width: 610px;
}

.grid_post img {	
margin: 0px 0px 0px -100px;
}


.grid_post {
width: 44%;
height: 170px;
}

.grid_post.first_post{
width: 420px;
height: 260px;
}

.grid_post.first_post .grid_title {
width: 78.5%!important;
}

.grid_title{
width: 58%!important;
font-size: 13px;
line-height: 20px;
}

.grid_post.first_post .post_format_video{
left: 370px;
}
.grid_post.first_post .post_format_image, .grid_post.first_post .post_format_audio{
left: 375px;
}

.grid_post .post_format_video{
left: 140px;
}
.grid_post .post_format_image, .grid_post .post_format_audio{
left: 145px;
}


#home_content.content_with_one_sidebar .grid_post.first_post{
width: 620px!important;
height: 300px;
}

#home_content.content_with_one_sidebar .grid_post.first_post .grid_title {
width: 85%!important;
}

#home_content.content_with_one_sidebar .grid_post{
width: 45.7%!important;
}

#home_content.content_with_one_sidebar .grid_post .grid_title{
width: 71%!important;
}

#home_content.content_with_one_sidebar .grid_post.first_post .post_format_video{
left: 565px;
}
#home_content.content_with_one_sidebar .grid_post.first_post .post_format_image, 
#home_content.content_with_one_sidebar .grid_post.first_post .post_format_audio{
left: 570px;
}

#home_content.content_with_one_sidebar .grid_post .post_format_video{
left: 250px;
}
#home_content.content_with_one_sidebar .grid_post .post_format_image, 
#home_content.content_with_one_sidebar .grid_post .post_format_audio{
left: 250px;
}


#home_content.content_full_width .grid_post.first_post{
width: 940px!important;
height: 400px;
}

#home_content.content_full_width .grid_post.first_post .grid_title {
width: 90%!important;
}

#home_content.content_full_width .grid_post{
width: 47.3%!important;
}

#home_content.content_full_width .grid_post .grid_title{
width: 79%!important;
}

#home_content.content_full_width .grid_post.first_post .post_format_video{
left: 890px;
}

#home_content.content_full_width .grid_post.first_post .post_format_image, 
#home_content.content_full_width .grid_post.first_post .post_format_audio{
left: 895px;
}

#home_content.content_full_width .grid_post .post_format_video{
left: 390px;
}

#home_content.content_full_width .grid_post .post_format_image, 
#home_content.content_full_width .grid_post .post_format_audio{
left: 395px;
}

.blog_content_fashion{
width: 340px!important;
}

#home_content.content_with_one_sidebar .blog_content_fashion{
width: 540px!important;
}

#home_content.content_full_width .blog_content_fashion{
width: 860px!important;
}



#single_content {
width: 420px; 
}

#single_content.content_with_one_sidebar {
width: 620px; 
}

.sp-caption-container {
left: 160px;
}


.single_text img.fs {
width: 110%;
margin: 0px 0px 10px -30px!important;
}


#similar-post{
width: 100%;
}

#similar-post .sim_title_box{
width: 570px;
}

#similar-post li{
width: 93%;
}

#content .single_post{
width: 100%;
}


#archive{
width: 100%;
}

.archive_ul{
width: 105%;
}

#contact textarea {
width: 600px!important;
}

body.woocommerce .inner_woo {
max-width: 978px!important;
}

#container #content[role=main] {
width: 610px;
}

.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{
width: 29.3%;
}

.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3{ 
width: 74%;
}

.add_to_cart_button {
top: 20px;
left: 30px!important; 
}

.added_to_cart{ 
top: 0px;
left: 50px; 
}

.price{
left: 67px!important; 
}


.single .product{
width: 100%;
}



}



@media only screen and (min-width: 779px) and (max-width: 978px){

#all_content.boxed_width {
max-width: 768px!important;
overflow: hidden;
}

#all_content.boxed_width .inner{
max-width: 748px!important;
}

.inner{
max-width: 748px!important;
}

.menu_inner{
max-width: 748px!important;
}

#all_content.boxed_width #header_top_menu .inner{
max-width: 768px!important;
}

#sidebar-small {
display: none;
} 

#wowslider-container1 { 
max-height: 350px;
}

#wowslider-container1 .ws_images ul a{
max-height: 350px;
}

#wowslider-container1 .ws_images > div > img {
max-height: 350px;
}

#wowslider-container1 .ws-title{
padding: 120px 15%;
}

#wowslider-container1 .ws-title span{
font-size: 30px;
line-height: 40px;
}

.first_header_post{
position: relative;
float: right;
}

.second_header_post{
display: none;
position: relative;
float: right;
margin: 10px 0px 20px 0px;
}

.sw-navigation {
top: 20px;
}


.grid_middle {
width: 300px;
height: 250px;
}

.grid_middle  img {
height: 100%!important;
}

.grid_middle h2 {
width: 240px;
}

.grid_rigth_box{
display: inline-block;
float: right;
width: 200px;
}

.grid_left_box{
display: inline-block;
float: left;
width: 200px;
}

.grid_left {
width: 200px;
height: 120px;
}

.grid_left  img {
height: 100%!important;
}

.grid_left h2 {
padding: 10px 10px 0px 10px;
width: 140px;
font-size: 12px;
line-height: 19px;
}

.sw-skin3 .sw-content .sw-caption h4 {
font-size: 17px;
line-height: 27px;
}


#banner_header_728 img{
margin: 10px 0px 5px 0px;
max-width: 490px;
}


h1.rsSlideTitle {
font-size: 25px;
line-height: 35px;
}

.rsFirstSlideTitle {
top: 150px;
}

.rsSecondSlideTitle {
top: 100px;
}

.home_post_author{
display: none!important;
}


.feat_image_content h1 {      
font-size: 13px;
line-height: 20px;
}

.feat_image_one{
margin: 0px 0px 11px 0px;
}





.columns1 .mega_dropdown {
min-height: 150px;
}

.widget_menu_posts li{
width: 21.2%!important;
}

.widget_menu_posts li:last-child{
display: none;
}

.widget_menu_posts li img{
width: 100%!important;
height: auto!important;
}

.widget_menu_title a{ 
width: 83%;
bottom: 10px;
font-size: 13px!important;
line-height: 20px!important;
text-align: center;
}

.tab_nav {
margin: -15px 0px 0px 0px;
width: 170px;
text-align: center;
}

.menu_tab_painel .tab_inner {
width: 78%;
}

.widget_menu_big_post img{
margin: 0px 20px 15px 0px;
}

.custom-menu-recent-category-widget .tab_inner .widget_menu_posts li{
width: 28.5%!important;
}

.custom-menu-recent-category-widget .tab_inner .widget_menu_posts .widget_menu_title a{
font-size: 13px!important;
line-height: 20px!important;
}

.tab_inner li:last-child{
display: none;
}

#mainMenu ul {
display: none;
}

#mainMenu select {
display: block;
}


#left_side, #left_side.ss_right_position, #sidebar-left, #sidebar-left.ss_right_position  {
display: none!important; 
}

#sidebar-right {
position: relative!important;
width: 100%!important; 
padding: 10px 0px 20px 20px!important; 
float: left!important; 
}  

.right-widget{
width: 260px;
margin: 0px 30px 40px 0px;
padding: 0px 20px 25px 20px;
} 

#sidebar-footer{
width: 100%;
}

#sidebar-footer-top .footer-widget{
width: 92%;
}

.footer-widget{
width: 300px;
margin: 10px 0px 20px 30px!important;
}

#sidebar-footer .full_width_posts_widget li:first-child .full_widget_info{
bottom: 0px;
}

#banner_footer_728 {
margin: 10px 0px 25px 0px;
padding: 0px;
text-align: left;
}

#banner_footer {
margin: 10px 0px 25px 0px;
padding: 0px;
text-align: left;
}


#banner_rotator {
margin: 20px 0px 0px 0px!important;
}

.wrapHighlight {
width: 728px!important;
height: 90px!important;
}

.wrapHighlight img{
width: 728px!important;
max-width: 728px!important;
height: auto!important;
margin: 0px!important;
}

#home_content{
width: 100%; 
}

#home_content.content_with_one_sidebar{
width: 100%;  
}


.sb_retro_skin_category .showbiz-title a,
#content.hide_sidebar .sb_retro_skin_category .showbiz-title a{	
width: 97%;
}	

.sb_retro_skin_category .sb-nav-retro  .sb-navigation-left,
.sb_retro_skin_category .sb-nav-retro  .sb-navigation-right{	
top: 170px;
}

.cat_small_slider .showbiz-title a,
.cat_small_slider .showbiz-title a:visited{	
font-size: 20px;
line-height: 30px;
}

.cat_small_slider .sb_retro_skin_category .showbiz-title a{	
width: 97%;
}	

.cat_small_slider .sb_retro_skin_category .sb-nav-retro  .sb-navigation-left,
.cat_small_slider .sb_retro_skin_category .sb-nav-retro  .sb-navigation-right{	
top: 180px;
}

#content {
width: 100%;
}

#content.content_with_one_sidebar{
width: 100%;
}

#content.content_with_one_sidebar .post,
#content.content_with_one_sidebar .product{
width: 350px; 
}

#content.hide_sidebar{
width: 100%;
}

.post, .product  {
width: 235px; 
}

#content.hide_sidebar .post, 
#content.hide_sidebar  .product  {
width: 350px; 
}

.index_inner {
width: 101%;
}

#content.content_with_one_sidebar .index_inner {
width: 100%;
}

#content.hide_sidebar .index_inner {
width: 100%;
}


.index_inner.one_column {
width: 100%;
}

#content.hide_sidebar .index_inner.one_column {
width: 100%;
}

#content.hide_sidebar .index_inner.one_column .post, 
#content.hide_sidebar  .index_inner.one_column .product{
width: 100%!important;
}

.index_inner.one_column .post, 
.index_inner.one_column .product{
width: 94%;
}

.index_inner.one_line .post, 
.index_inner.one_line .product{
width: 100%;
}

#content.hide_sidebar .index_inner.one_line{
width: 100%;
}

#content.hide_sidebar .index_inner.one_line .post, 
#content.hide_sidebar .index_inner.one_line .product{
width: 100%;
}

#home_main_posts, #home_blog_posts, #home_line_posts, #home_grid_posts{
width: 100%!important;
max-width: 100%!important;
}

.main_post {
width: 47.5%;
}

.line_post {
width: 46%;
}

.line_post.first_post .short_image_box{
width: 728px;
}

#home_content.content_full_width .main_post {
width: 47.5%;
}

.blog_post.One_column_column {
width: 100%!important;
}

.blog_post.Two_column_column {
width: 94%!important;
}

.blog_post.Three_column_column {
width: 92%!important;
}

.blog_post.Four_column_column {
width: 88%!important;
}

#home_content.content_full_width .blog_post.Two_column_column {
width: 47%!important;
}

#home_content.content_full_width .blog_post.Three_column_column {
width: 94%!important;
}

#home_content.content_full_width .blog_post.Four_column_column {
width: 94%!important;
}

.grid_post img {	
margin: 0px 0px 0px 0px;
}

.grid_post {
width: 46.5%;
height: 190px;
}

.grid_post.first_post{
width: 750px;
height: 400px;
}

.grid_post.first_post .grid_title {
width: 87%!important;
}

.grid_post .grid_title{
width: 74%!important;
}

.grid_post.first_post .post_format_video{
left: 695px;
}
.grid_post.first_post .post_format_image, .grid_post.first_post .post_format_audio{
left: 700px;
}

.grid_post .post_format_video{
left: 300px;
}
.grid_post .post_format_image, .grid_post .post_format_audio{
left: 305px;
}

#home_content.content_with_one_sidebar .grid_post {
width: 46.5%;
height: 190px;
}

#home_content.content_with_one_sidebar .grid_post.first_post{
width: 750px;
height: 400px;
}

#home_content.content_with_one_sidebar .grid_post.first_post .grid_title {
width: 87%!important;
}

#home_content.content_with_one_sidebar .grid_post .grid_title{
width: 74%!important;
}

#home_content.content_with_one_sidebar .grid_post.first_post .post_format_video{
left: 695px;
}

#home_content.content_with_one_sidebar .grid_post.first_post .post_format_image, 
#home_content.content_with_one_sidebar .grid_post.first_post .post_format_audio{
left: 700px;
}

#home_content.content_with_one_sidebar .grid_post .post_format_video{
left: 300px;
}

#home_content.content_with_one_sidebar .grid_post .post_format_image, 
#home_content.content_with_one_sidebar .grid_post .post_format_audio{
left: 305px;
}


#home_content.content_full_width .grid_post {
width: 46.5%;
height: 190px;
}

#home_content.content_full_width .grid_post.first_post{
width: 750px;
height: 300px;
}

#home_content.content_full_width .grid_post.first_post .grid_title {
width: 87%!important;
}

#home_content.content_full_width .grid_post .grid_title{
width: 74%!important;
}

#home_content.content_full_width .grid_post.first_post .post_format_video{
left: 695px;
}

#home_content.content_full_width .grid_post.first_post .post_format_image, 
#home_content.content_full_width .grid_post.first_post .post_format_audio{
left: 700px;
}

#home_content.content_full_width .grid_post .post_format_video{
left: 300px;
}

#home_content.content_full_width .grid_post .post_format_image, 
#home_content.content_full_width .grid_post .post_format_audio{
left: 305px;
}








.blog_content_fashion{
width: 665px!important;
}

#home_content.content_with_one_sidebar .blog_content_fashion{
width: 665px!important;
}

#home_content.content_full_width .blog_content_fashion{
width: 665px!important;
}


.review-summary p{
width: 135%!important;
}

.review-final-score{
display: inline-block;
position: relative;
float: left;
height: auto!important;
width: 100%!important;
}

.wpb_gallery .theme-default .nivoSlider {
min-height: 210px!important;
}

.arqam-widget-counter ul li i{
margin: 5px 0px 0px 3px!important;
}

#content.hide_sidebar #banner_index_728{
margin: 0px 0px 30px 0px;
width: 728px;
}

.recent_cat_third li:first-child .widget_thumbnail_third{
max-height: 170px;
}


#single_content {
width: 100%; 
}

#single_content.content_with_one_sidebar {
width: 100%; 
}


.single_post{
width: 100%; 
}

.single_post .single_thumbnail img{
width: 100%; 
}

.single_text img.fs {
width: 100%!important; 
min-width: 100%;
margin: 0px 0px 10px 0px!important;
}

.sp-caption-container {
left: 130px;
}

#similar-post{
width: 100%;
}

#similar-post .sim_title_box{
width: 100%;
}

#similar-post li{
width: 93%;
}

#navigation_images{
width: 100%;  
}

#author_box{
width: 100%!important; 
}

#content #author_box{
margin: 0px 0px 30px 0px;
width: 100%!important; 
}

#content .single_post{
width: 100%; 
}

#lightSlider img{
width: 100%;
}


#archive{
width: 100%;
}

.archive_ul{
width: 102%;
}

#contact textarea {
width: 730px!important;
}

#archive li{
width: 91.5%;
}

body.woocommerce .inner_woo {
max-width: 748px!important;
}

#container #content[role=main] {
max-width: 728px!important;
}

.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{
width: 30%;
}

.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3{ 
width: 76%;
}

.add_to_cart_button {
top: 20px;
left: 50px!important; 
}

.added_to_cart{ 
top: 0px;
left: 70px; 
}

.price{
left: 85px!important; 
}


.single .product{
max-width: 768px!important;
}

}





@media screen and (min-width: 480px) and (max-width:778px) {

#all_content.boxed_width {
max-width: 480px!important;
overflow: hidden;
}

.inner{
max-width: 480px!important;
}

.menu_inner{
max-width: 480px!important;
}

#all_content.boxed_width .inner{
max-width: 480px!important;
}

#all_content.boxed_width #header_top_menu .inner{
max-width: 500px!important;
}

#sidebar-small {
display: none;
} 

.sw-navigation {
top: 20px;
}

.first_header_post{
position: relative;
margin: 0px 0px 20px 60px;
}

.second_header_post{
position: relative;
margin: 20px 0px 20px 60px;
}


.sw-navigation {
top: 20px;
}

.grid_posts_container{
position: relative;
margin-top: 30px;
margin-bottom: 30px;
width: 100%;
}

.grid_middle {
float: left;
width: 430px;
height: auto;
padding-top: 300px;
}

.grid_middle  img {
height: 100%!important;
}

.grid_middle h2 {
width: 370px;
}

.grid_rigth_box{
position: absolute;
top: 0px;
right: 20px;
display: inline-block;
float: right;
width: 205px;
}

.grid_left_box{
position: absolute;
top: 0px;
left: 20px;
display: inline-block;
float: left;
width: 205px;
}
#moble_view_post .grid_left_box{
position: static;
top: 0px;
left: 20px;
display: inline-block;
float: left;
width: 100%;
}

.grid_left {
width: 205px;
height: 120px;
}
#moble_view_post .grid_left {
width: 50%;
height: 120px;
}

.grid_left  img {
height: 100%!important;
}

.grid_left h2 {
padding: 10px 10px 0px 10px;
width: 145px;
font-size: 12px;
line-height: 19px;
}


.sw-skin3 .sw-content .sw-caption h4 {
font-size: 17px;
line-height: 27px;
}



#mega_main_menu .menu li{
margin: 10px 5px 10px 0px;
}

#mainMenu ul {
display: none;
}

#mainMenu select {
display: block;
width: 93%;
}

#secondaryMenu{
width: 50%;
}

#header_top_menu .logout{
position: relative;
margin: 0px 10px 10px 0px;
}

#header_top_menu .user_profile{
position: relative;
margin: 0px 5px 10px 0px;
}

#title_box{
margin: 10px 0px 20px 10px!important;
}

#wowslider-container1 { 
max-height: 200px;
}

#wowslider-container1 .ws_images ul a{
max-height: 200px;
}

#wowslider-container1 .ws_images > div > img {
max-height: 200px;
}

#wowslider-container1 .ws-title{
padding: 60px 15%;
}

#wowslider-container1 .ws-title span{
font-size: 20px;
line-height: 25px;
}

.royalSlider {
height: 500px!important;  
}

h1.rsSlideTitle {
font-size: 20px;
line-height: 30px;
}

h2.rsSlideTitle {
font-size: 14px;
padding: 7px 10px;
}

.rsFirstSlideTitle {
top: 150px;
}

.rsSecondSlideTitle {
top: 100px;
}

#home_feat_posts .feat_post_box, #cat_feat_posts .feat_post_box{
width: 50%;
}

#home_feat_posts .feat_post_box:first-child, #cat_feat_posts .feat_post_box:first-child{
width: 100%;
}



#ei-slider-small{
margin: 25px 0px 45px 0px;
width: 460px; 
float: left;
}

#ei-slider-small .ei-title h2 a{
font-size: 25px;
line-height: 30px;
}

.lof-slidecontent  .navigator-content, .lof-slidecontent  .navigator-wrapper{
width: 190px;
}

.lof-slidecontent ul.navigator-wrap-inner li h3 {
width: 165px;
font-size: 13px;  
line-height: 22px!important;  
}

.lof-slidecontent ul.navigator-wrap-inner li img{
display: none;
}

.lof-slidecontent .slider-description h1 a {
font-size: 17px;  
line-height: 25px!important;  
}

.lof-slidecontent .slider-description{
top: 30px;
left: 220px;
width: 210px;
padding: 10px;
}


.columns1 .mega_dropdown {
min-height: 180px;
}

.widget_menu_posts li{
float: left;
width: 45.3%!important;
margin: 5px 10px 20px 10px!important;
}

.custom-menu-recent-category-widget .tab_inner .widget_menu_posts li{
width: 42%!important;
margin: 5px 20px 100px 0px!important;
}

.widget_menu_posts li:last-child{
margin: 5px 10px 20px 10px!important;
}

.widget_menu_title a{ 
width: 83%;
bottom: 10px;
font-size: 13px!important;
line-height: 20px!important;
text-align: center;
}

.custom-menu-recent-category-widget .tab_inner .widget_menu_posts .widget_menu_title a{
font-size: 11px!important;
line-height: 18px!important;
}

.tab_nav {
width: 150px;
margin: -15px 0px 0px 0px!important;
padding: 10px 10px 10px 10px;
}

.menu_tab_painel .tab_inner {
width: 69%;
}

.menu_tab_painel .tab_inner img {
height: auto!important;
}


#banner_header_728 img{
max-width: 460px;
height: auto;
margin-top: 13px;
}

.wrapHighlight {
width: 460px!important;
height: 90px!important;
}

.wrapHighlight img{
width: 460px!important;
max-width: 728px!important;
height: auto!important;
margin: 0px!important;
}

#banner_footer_728 img{
padding: 0px;
height: auto;
}

#banner_footer img{
padding: 0px;
height: auto;
}

#left_side, #left_side.ss_right_position, #sidebar-left, #sidebar-left.ss_right_position  {
display: none!important; 
}


#sidebar-right {
display:none;
position: relative!important;
width: 100%!important; 
padding: 20px 0px 20px 20px!important; 
float: left!important; 
}  

.right-widget{
width: 260px;
margin: 0px 0px 40px 0px;
padding: 0px 20px 25px 20px;
} 

#sidebar-footer{
width: 100%;
} 

.footer-widget{
width: 300px;
margin: 10px 0px 20px 20px!important;
}

#sidebar-footer-top .footer-widget{
width: 92%;
}


#home_content{
width: 460px!important;
margin: 0px 0px 40px 10px;
padding: 0px!important;
}

#home_content.content_with_one_sidebar{
width: 460px!important;  
}


.sb_retro_skin_category .showbiz-title a,
#content.hide_sidebar .sb_retro_skin_category .showbiz-title a{	
width: 92%;
}	

.sb_retro_skin_category .sb-nav-retro  .sb-navigation-left,
.sb_retro_skin_category .sb-nav-retro  .sb-navigation-right{	
top: 100px;
}

.sb_retro_skin_category .showbiz-title a{	
padding: 10px!important;
}

.sb_retro_skin_category .showbiz-title,
.sb_retro_skin_category .showbiz-title a,
.sb_retro_skin_category .showbiz-title a:visited{	
font-size: 20px;
line-height: 30px;
}	

.cat_small_slider .showbiz-title a,
.cat_small_slider .showbiz-title a:visited{	
font-size: 20px;
line-height: 30px;
}

.cat_small_slider .sb_retro_skin_category .showbiz-title a{	
width: 92%;
}	

.cat_small_slider .sb_retro_skin_category .sb-nav-retro  .sb-navigation-left,
.cat_small_slider .sb_retro_skin_category .sb-nav-retro  .sb-navigation-right{	
top: 100px;
}

#cat_feat_posts .feat_post_box:first-child{
width: 100%;
}

#cat_feat_posts .feat_post_box{
width: 50%;
}

#cat_feat_posts .feat_post_box:first-child a img{
width: 480px;
height: auto;
}

#cat_feat_posts .feat_post_box a img{
width: 240px;
height: auto;
}

.feat_post_box h2 a, .feat_post_box:first-child h2 a{
font-size: 18px;
line-height: 28px;
}

#crumbs{
width: 460px;
}

#content {
width: 460px;
margin-left: 10px;
}

#content.hide_sidebar{
width: 460px;
margin-left: 10px;
}

#content.full_width{
width: 460px!important; 
margin: 25px 0px 0px 10px!important;
}

#content.content_with_one_sidebar{
width: 460px;
margin-left: 10px;
}

#content.content_with_one_sidebar .post,
#content.content_with_one_sidebar .product{
width: 460px;
}



#content.hide_sidebar .post, #content.hide_sidebar  .product  {
width: 460px;
}

.index_inner {
width: 460px;
}

.post, .product  {
width: 460px;
}

#content.content_with_one_sidebar .index_inner{
width: 100%;
}

#content.hide_sidebar .index_inner {
width: 460px;
}

#content.hide_sidebar .post, #content.hide_sidebar .product{
width: 460px!important;
}



.index_inner.one_column {
width: 100%;
}

#content.hide_sidebar .index_inner.one_column {
width: 100%;
}

.index_inner.one_column .post, .index_inner.one_column .product{
width: 100%;
}

#content.hide_sidebar .index_inner.one_column .post, 
#content.hide_sidebar  .index_inner.one_column .product{
width: 100%!important;
}

.index_inner.one_line .post, 
.index_inner.one_line .product{
width: 100%;
}

#content.content_with_one_sidebar .index_inner.one_column .post, 
#content.content_with_one_sidebar  .index_inner.one_column .product{
width: 100%;
}

#content.hide_sidebar .index_inner.one_line, 
#content.hide_sidebar .index_inner.one_line{
width: 100%;
}

#content.hide_sidebar .index_inner.one_line .post, 
#content.hide_sidebar .index_inner.one_line .product{
width: 100%;
}

.index_inner.one_line .post h2 a{
display: inline-block;
}

.index_inner.one_line .post p{
display: inline-block;
padding: 10px 0px 10px 0px!important;
}

.index_inner.one_line .custom_read_more{
display: inline-block;
margin: 10px 0px 5px 0px;
}


#home_main_posts, #home_blog_posts, 
#home_line_posts, #home_grid_posts{
width: 100%!important;
max-width: 100%!important;
}

.line_post {
width: 440px; 
}

.line_post.first_post .short_image_box{
width: 440px; 
}

.main_post {
width: 100%;
}

.main_post.first_post{
margin: 0px 0px 25px 0px;
}

#home_content.content_with_one_sidebar .main_post,
#home_content.content_with_one_sidebar .main_post.first_post{
width: 100%;
}

#home_content.content_full_width .main_post,
#home_content.content_full_width .main_post.first_post{
width: 100%;
}


.blog_post.Two_column_column {
width: 45.5%!important;
}

.blog_post.Three_column_column {
width: 93%!important;
}

.blog_post.Four_column_column {
width: 93%!important;
}

#home_content.content_with_one_sidebar .blog_post.Two_column_column {
width: 45.5%!important;
}

#home_content.content_with_one_sidebar .blog_post.Three_column_column {
width: 93%!important;
}

#home_content.content_with_one_sidebar .blog_post.Four_column_column {
width: 93%!important;
}

.grid_post {
width: 44%;
height: 190px;
}

.grid_post.first_post{
width: 460px;
height: 260px;
}

.grid_post.first_post .grid_title {
width: 80%!important;
}

.grid_post .grid_title{
width: 60%!important;
}

.grid_post.first_post .post_format_video{
left: 410px;
}
.grid_post.first_post .post_format_image, .grid_post.first_post .post_format_audio{
left: 415px;
}

.grid_post .post_format_video{
left: 155px;
}
.grid_post .post_format_image, .grid_post .post_format_audio{
left: 160px;
}


#home_content.content_with_one_sidebar .grid_post {
width: 44%;
height: 190px;
}

#home_content.content_with_one_sidebar .grid_post.first_post{
width: 460px;
height: 260px;
}

#home_content.content_with_one_sidebar .grid_post.first_post .grid_title {
width: 80%!important;
}

#home_content.content_with_one_sidebar .grid_post .grid_title{
width: 60%!important;
}

#home_content.content_with_one_sidebar .grid_post.first_post .post_format_video{
left: 410px;
}

#home_content.content_with_one_sidebar .grid_post.first_post .post_format_image, 
#home_content.content_with_one_sidebar .grid_post.first_post .post_format_audio{
left: 415px;
}

#home_content.content_with_one_sidebar .grid_post .post_format_video{
left: 155px;
}

#home_content.content_with_one_sidebar .grid_post .post_format_image, 
#home_content.content_with_one_sidebar  .grid_post .post_format_audio{
left: 160px;
}


#home_content.content_full_width .grid_post {
width: 44%;
height: 190px;
}

#home_content.content_full_width .grid_post.first_post{
width: 460px;
height: 260px;
}

#home_content.content_full_width .grid_post.first_post .grid_title {
width: 80%!important;
}

#home_content.content_full_width .grid_post .grid_title{
width: 60%!important;
}

#home_content.content_full_width .grid_post.first_post .post_format_video{
left: 410px;
}

#home_content.content_full_width .grid_post.first_post .post_format_image, 
#home_content.content_full_width .grid_post.first_post .post_format_audio{
left: 415px;
}

#home_content.content_full_width .grid_post .post_format_video{
left: 155px;
}

#home_content.content_full_width .grid_post .post_format_image, 
#home_content.content_full_width .grid_post .post_format_audio{
left: 160px;
}






.blog_content_fashion{
width: 380px!important;
}

#home_content.content_with_one_sidebar .blog_content_fashion{
width: 380px!important;
}

#home_content.content_full_width .blog_content_fashion{
width: 380px!important;
}

.ms-skin-default .ms-thumb-list.ms-dir-h {
bottom: -150px;
width: 100%;
height: 150px;
}

.ms-videogallery-template .ms-thumb-list.ms-dir-h .ms-thumb-frame {
width: 101px;
height: 150px;
}
.ms-videogallery-template .ms-thumb img{
width: 101px;
height: 60px;
}

.ms-videogallery-template .ms-thumb-ol {
width: 101px;
height: 60px;
}

.ms-videogallery-template .ms-layer.video-title {
font-size: 13px!important;
line-height: 22px!important;
}



#sidebar-footer .full_width_posts_widget li:first-child .full_widget_info{
bottom: 0px;
}

.full_width_posts_widget li{
margin-right: 20px;
}




.wpb_gallery .theme-default .nivoSlider {
min-height: 210px!important;
}



.review-summary p{
width: 125%!important;
}

.review-final-score{
display: inline-block;
position: relative;
float: left;
height: auto!important;
width: 100%!important;
}

.single_post textarea#comment, 
.single_post input#url, 
.single_post .comment-form-email input, 
.single_post input#author{
width: 96%!important;
margin-top: 10px;
}

#content.full_width .single_post textarea#comment, 
#content.full_width .single_post input#url, 
#content.full_width .single_post .comment-form-email input, 
#content.full_width .single_post input#author{
width: 96%!important;
margin-top: 10px;
}


#author_content {
margin: -180px 0px 0px 10px;
}

.author_description p{
display: none;
}


.arqam-widget-counter ul li i{
margin: 5px 0px 0px 0px!important;
}


#container #content {
width: 100%!important; 
}

#content.hide_sidebar #banner_index_728{
margin: 0px 0px 30px 0px;
width: 100%; 
}


.recent_cat_third li:first-child .widget_thumbnail_third{
max-height: 220px;
}

#single_content {
width: 460px; 
margin: 25px 0px 0px 10px;
}

#single_content.content_with_one_sidebar {
width: 460px; 
margin: 25px 0px 0px 10px;
}

#single_content.hide_sidebar{
width: 460px!important; 
margin: 25px 0px 0px 10px!important;
}

.single_photo, .single_photo .photo_bg_shadow {
min-height: 350px;
}

.single_photo .photo_bg_inner {
bottom: 10px;
}

.photo_bg_inner{
bottom: 10px;
}

.photo_bg_inner h1{
padding: 0px 20px;
font-size: 30px;
line-height: 130%;
}

.single_text img.fs {
width: 100%!important; 
min-width: 100%;
margin: 0px 0px 10px 0px!important;
}

.single_post .single_thumbnail img{
width: 100%;
}

.sp-caption-container {
left: 80px;
}

#similar-post{
width: 100%; 
}

#similar-post .sim_title_box{
width: 100%; 
}

#similar-post li{
width: 93%;
}

#navigation_images{
width: 100%; 
}

#navigation_images .alignleft img{
min-height: 160px;
max-height: 160px;
}

#navigation_images .alignright img{
min-height: 160px;
max-height: 160px;
}

.next_link_title, .prev_link_title{
font-size: 15px;
line-height: 25px;
}

.next_link_title a, .prev_link_title a{
bottom: 20px;
width: 85%;
padding: 10px 20px 10px 20px;
}


#author_box{
width: 100%; 
}

#content #author_box{
margin: 0px 0px 30px 0px;
width: 100%; 
}

#author_box p{
width: 90%;
}

#content .single_post{
width: 100%; 
}

.children .comment {
width: 91%;
}

#archive{
width: 100%;
}

.archive_ul{
width: 102%;
}

#archive li{
width: 94%;
}

#contact textarea {
width: 430px!important;
}

body.woocommerce .inner_woo {
max-width: 460px!important;
}

#container #content[role=main] {
max-width: 440px!important;
}

.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{
width: 44.3%;
}

.woocommerce ul.products li.product h3, .woocommerce-page ul.products li.product h3{ 
width: 76%;
}

.add_to_cart_button {
top: 20px;
left: 40px!important; 
}

.added_to_cart{ 
top: 0px;
left: 60px; 
}

.price{
left: 75px!important; 
}


.single .product{
width: 100%;
}


}






@media only screen and (max-width: 479px) {

#desktop_view_post{display:none;}		
.showbiz-container.sb_retro_skin_Kesha{padding:0px;}
.home_posts_title{padding:0px;}
#MobileView .home_posts_title{padding:0px;margin:0px;}
#MobileView 	 #main_content p {display:none;}	 
#all_content.boxed_width {
max-width: 320px!important;
overflow: hidden;
}

.inner{
max-width: 320px!important;
}

.menu_inner{
max-width: 320px!important;
}


#all_content.boxed_width .inner{
max-width: 320px!important;
}

#all_content.boxed_width #header_top_menu .inner{
max-width: 320px!important;
}

#sidebar-small {
display: none;
} 

.sw-navigation {
top: 20px;
}

.first_header_post{
position: relative;
width: 300px;
margin: 0px 0px 20px 10px;
}

.second_header_post{
position: relative;
width: 300px;
margin: 20px 0px 20px 10px;
}

.first_header_post .header_post_time, .second_header_post .header_post_time{
display: none;
}

.grid_posts_container{
display: block;
margin-top: 0px;
margin-bottom: 50px;
}

.grid_middle {
margin: 30px 0px 0px 10px;
width: 300px;
height: 240px;
}

.grid_middle  img {
height: 100%!important;
}

.grid_middle h2 {
width: 240px;
}

.grid_rigth_box{
margin: 30px 0px 0px 10px;
width: 300px;
display: inline-block;
float: left;
width: 205px;
}

.grid_left_box{
margin: 10px 0px 0px 10px;
width: 300px;
display: inline-block;
float: left;
width: 300px;
}

.grid_left {
width: 300px;
height: 180px;
}

.grid_left  img {
height: 100%!important;
}

.grid_left h2 {
width: 240px;
font-size: 14px;
line-height: 22px;
left: 28px;
}



#mega_main_menu .menu li{
margin: 10px 5px 10px 0px;
}

#mainMenu ul {
display: none;
}

#mainMenu select {
display: block;
width: 90%;
}

#secondaryMenu{
width: 90%;
}

#header_top_menu .logout{
position: relative;
margin: 0px 10px 10px 0px;
}

#header_top_menu .user_profile{
position: relative;
margin: 0px 5px 10px 0px;
}

#secondaryMenu ul li a{
font-size: 11px;
margin: 0px 4px;
}

#banner_header_728{
float: left;
margin: 12px 10px 10px 0px;
}

#banner_header_728 img{
max-width: 300px;
height: auto;
}


#title_box{
margin: 10px 0px 20px 10px!important;
}

#wowslider-container1 { 
height: 170px!important;
}

#wowslider-container1 .ws_images{
height: 170px!important;
}

#wowslider-container1 .ws_images ul a{
height: 170px!important;
}

#wowslider-container1 .ws_images > div > img {
height: 170px!important;
}

#wowslider-container1 .ws-title{
padding: 80px 15%;
}

#wowslider-container1 .ws-title span{
font-size: 15px;
line-height: 20px;
}

#wowslider-container1 .custom_cat_class{
display: none;
}

#wowslider-container1 .ws-title div{
margin: 10px 0px 0px 0px;
font-size: 10px;
}

#wowslider-container1  .ws_bullets { 
display: none;
}


.royalSlider {
height: 500px!important;  
}

h1.rsSlideTitle {
font-size: 15px;
line-height: 30px;
}

h2.rsSlideTitle {
font-size: 14px;
padding: 7px 10px;
}

.rsFirstSlideTitle {
top: 150px;
}

.rsSecondSlideTitle {
top: 100px;
}

#home_feat_posts .feat_post_box, #cat_feat_posts .feat_post_box{
width: 100%;
}

#home_feat_posts .feat_post_box:first-child, #cat_feat_posts .feat_post_box:first-child{
width: 100%;
}

#ei-slider-small{
margin: 25px 0px 45px 0px;
width: 300px; 
float: left;
}

.lof-slidecontent  .navigator-content, .lof-slidecontent  .navigator-wrapper{
display: none;
}

.lof-slidecontent .slider-description h1 a {
font-size: 18px;  
line-height: 28px!important;  
}

.lof-slidecontent .slider-description{
top: 30px;
left: 20px;
width: 260px;
padding: 10px;
}

.columns1 .mega_dropdown {
min-width: 100%!important;
min-height: 180px;
}

.widget_menu_posts li{
float: left;
width: 100%!important;
margin: 5px 0px 20px 0px!important;
}

.widget_menu_posts li:last-child{
margin: 5px 0px 20px 0px!important;
}

.custom-menu-recent-category-widget .tab_inner .widget_menu_posts li{
width: 88%!important;
margin: 5px 0px 100px 0px!important;
}

.widget_menu_posts li img {
height: auto!important;
}

.widget_menu_title a{ 
text-align: center;
bottom: 10px;
}

.custom-menu-recent-category-widget .tab_inner .widget_menu_posts .widget_menu_title a{
width: 96px;
font-size: 11px!important;
line-height: 18px!important;
}

.tab_nav {
width: 145px;
margin: -15px 0px 0px 0px!important;
font-size: 11px;
line-height: 20px;
padding: 10px 20px 10px 10px;
}

.menu_tab_painel .tab_inner {
width: 55%;
}

a.widget_menu_title{
padding: 110px 10px 15px 15px!important;
font-size: 15px!important;
line-height: 24px!important;
}

.menu_tab_painel .tab_inner img {
height: auto!important;
}

.widget_menu_big_post img{
width: 270px!important;
height: auto!important;
}

.widget_menu_big_title{
max-width: 270px;
}


.wrapHighlight {
width: 300px!important;
height: 90px!important;
}

.wrapHighlight img{
width: 300px!important;
max-width: 290px!important;
height: auto!important;
margin: 0px!important;
}

#banner-header{
float: left;
margin: 12px 10px 10px 0px;
}

#banner-header img{
max-width: 290px;
height: auto;
}

#banner_footer_728 img{
padding: 0px;
height: auto;
}

#banner_footer img{
padding: 0px;
height: auto;
}


.bx-wrapper img {
margin: 10px 15px 10px 15px;
}

.bx-wrapper .bxslider_quote {
display: inline-block;
margin: 12px 20px 20px 20px;
}

.bx-wrapper .custom_read_more{ 
margin: 0px 20px 40px 0px;
}

.home_posts_title h2{
font-size: 28px;
}


.ei-title h2 a{
font-size: 21px;
line-height: 25px;
}

#ei-slider-small .ei-title h2 a{
font-size: 21px;
line-height: 25px;
}

.ei-title h3{
font-size: 11px;
line-height: 20px;
}


.sb_retro_skin_category .showbiz-title a,
#content.hide_sidebar .sb_retro_skin_category .showbiz-title a{	
width: 86%;
padding: 10px!important;
}	

.sb_retro_skin_category .sb-nav-retro  .sb-navigation-left,
.sb_retro_skin_category .sb-nav-retro  .sb-navigation-right,
#content.hide_sidebar .sb_retro_skin_category .sb-nav-retro  .sb-navigation-left,
#content.hide_sidebar .sb_retro_skin_category .sb-nav-retro  .sb-navigation-right{	
top: 50px;
}


.sb_retro_skin_category .showbiz-title,
.sb_retro_skin_category .showbiz-title a,
.sb_retro_skin_category .showbiz-title a:visited{	
font-size: 15px;
line-height: 25px;
}	

.cat_small_slider .showbiz-title a,
.cat_small_slider .showbiz-title a:visited{	
font-size: 15px;
line-height: 25px;
}

.cat_small_slider .sb_retro_skin_category .showbiz-title a{	
width: 85%;
}	

.cat_small_slider .sb_retro_skin_category .sb-nav-retro  .sb-navigation-left,
.cat_small_slider .sb_retro_skin_category .sb-nav-retro  .sb-navigation-right{	
top: 50px;
}


#cat_feat_posts .feat_post_box:first-child,
.cat_small_feat_posts #cat_feat_posts .feat_post_box:first-child{
width: 300px;
height: 200px;
}

#cat_feat_posts .feat_post_box,
.cat_small_feat_posts #cat_feat_posts .feat_post_box{
width: 300px;
}

#cat_feat_posts .feat_post_box:first-child a img,
.cat_small_feat_posts #cat_feat_posts .feat_post_box:first-child a img{
width: 300px;
height: 200px;
}

#cat_feat_posts .feat_post_box a img,
.cat_small_feat_posts #cat_feat_posts .feat_post_box a img{
width: 300px;
height: auto;
}



.feat_post_box h2 a, .feat_post_box:first-child h2 a{
font-size: 18px;
line-height: 28px;
}


#content {
width: 100%;
}

#content.hide_sidebar{
width: 300px;
margin-left: 10px;
}

#content.full_width{
width: 300px;
margin-left: 10px;
}

#content.content_with_one_sidebar{
width: 300px;
margin-left: 10px;
}

#content.content_with_one_sidebar .post,
#content.content_with_one_sidebar .product{
width: 300px;
}

.post, .product  {
width: 300px;
margin-left: 0px!important;
}

.index_inner {
width: 300px;
}

#content.hide_sidebar .index_inner {
width: 300px;
}
#content.hide_sidebar .post, #content.hide_sidebar .product{
width: 300px!important;
}

.index_inner.one_column {
width: 100%;
}

#content.hide_sidebar .index_inner.one_column {
width: 100%;
}

#content.hide_sidebar .index_inner.one_column .post, #content.hide_sidebar  .index_inner.one_column .product{
width: 300px!important;
}

#content.content_with_one_sidebar .index_inner.one_column .post, 
#content.content_with_one_sidebar  .index_inner.one_column .product{
width: 300px!important;
}

.index_inner.one_column .post, 
.index_inner.one_column .product{
width: 100%;
}

.index_inner.one_line .post, 
.index_inner.one_line .product{
width: 100%;
}

.index_inner.one_line .post h2 a,
.index_inner.one_line .product h2 a{
display: inline-block;
}

.index_inner.one_line .post p,
.index_inner.one_line .product p{
display: inline-block;
padding: 10px 0px 10px 0px!important;
}

.index_inner.one_line .custom_read_more{
display: inline-block;
margin: 10px 0px 5px 0px;
}


#content.hide_sidebar .index_inner.one_line, 
#content.hide_sidebar .index_inner.one_line{
width: 300px!important;
}

#content.hide_sidebar .index_inner.one_line .post, 
#content.hide_sidebar .index_inner.one_line .product{
width: 300px!important;
}

#home_content{
width: 300px!important;
margin: 0px 0px 40px 10px;
padding: 0px!important;
}

#home_main_posts, #home_blog_posts, #home_line_posts, #home_grid_posts{
width: 100%!important;
max-width: 100%!important;
}

.home_posts_title h2{
line-height: 41px;
font-size: 20px;
}
#MobileView .home_posts_title h2{
line-height: 20px;
font-size: 16px;
}

.main_post {
width: 100%;
}

.main_post.first_post{
margin: 0px 0px 25px 0px;
}

#home_content.content_with_one_sidebar .main_post,
#home_content.content_with_one_sidebar .main_post.first_post{
width: 100%;
}

#home_content.content_full_width .main_post,
#home_content.content_full_width .main_post.first_post{
width: 100%;
}

.line_post {
width: 100%!important;
}

.line_post.first_post .short_image_box{
width: 100%!important;
}

.simple_post .meta_info_box{
margin: 10px 0px 3px 0px;
}

.simple_post p{
padding: 5px 0px 0px 0px!important;
}

.blog_post.One_column_column {
width: 100%!important;
}

.blog_post.Two_column_column {
width: 100%!important;
}

.blog_post.Three_column_column {
width: 100%!important;
}

.blog_post.Four_column_column {
width: 90%!important;
}

#home_content.content_with_one_sidebar .blog_post.Two_column_column {
width: 100%!important;
}

#home_content.content_with_one_sidebar .blog_post.Three_column_column {
width: 100%!important;
}

#home_content.content_with_one_sidebar .blog_post.Four_column_column {
width: 100%!important;
}

.grid_post {
width: 300px;
height: 220px;
}

.grid_post.first_post{
width: 300px;
height: 220px;
}

.grid_post.first_post .grid_title {
width: 71%!important;
}

.grid_post .grid_title{
width: 71%!important;
}

.grid_post.first_post .post_format_video{
left: 250px;
}
.grid_post.first_post .post_format_image, .grid_post.first_post .post_format_audio{
left: 255px;
}

.grid_post .post_format_video{
left: 250px;
}
.grid_post .post_format_image, .grid_post .post_format_audio{
left: 255px;
}

#home_content.content_with_one_sidebar .grid_post {
width: 300px;
height: 220px;
}

#home_content.content_with_one_sidebar .grid_post.first_post{
width: 300px;
height: 220px;
}

#home_content.content_with_one_sidebar .grid_post.first_post .grid_title {
width: 71%!important;
}

#home_content.content_with_one_sidebar .grid_post .grid_title{
width: 71%!important;
}

#home_content.content_with_one_sidebar .grid_post.first_post .post_format_video{
left: 250px;
}

#home_content.content_with_one_sidebar .grid_post.first_post .post_format_image, 
#home_content.content_with_one_sidebar .grid_post.first_post .post_format_audio{
left: 255px;
}

#home_content.content_with_one_sidebar .grid_post .post_format_video{
left: 250px;
}

#home_content.content_with_one_sidebar .grid_post .post_format_image, 
#home_content.content_with_one_sidebar .grid_post .post_format_audio{
left: 255px;
}

#home_content.content_full_width .grid_post {
width: 300px;
height: 220px;
}

#home_content.content_full_width .grid_post.first_post{
width: 300px;
height: 220px;
}

#home_content.content_full_width .grid_post.first_post .grid_title {
width: 71%!important;
} 

#home_content.content_full_width .grid_post .grid_title{
width: 71%!important;
}

#home_content.content_full_width .grid_post.first_post .post_format_video{
left: 250px;
}

#home_content.content_full_width .grid_post.first_post .post_format_image, 
#home_content.content_full_width .grid_post.first_post .post_format_audio{
left: 255px;
}

#home_content.content_full_width .grid_post .post_format_video{
left: 250px;
}

#home_content.content_full_width .grid_post .post_format_image, 
#home_content.content_full_width .grid_post .post_format_audio{
left: 255px;
}




.blog_content_fashion{
width: 220px!important;
}

#home_content.content_with_one_sidebar .blog_content_fashion{
width: 220px!important;
}

#home_content.content_full_width .blog_content_fashion{
width: 220px!important;
}

.ms-skin-default .ms-thumb-list.ms-dir-h {
bottom: -150px;
width: 100%;
height: 150px;
}

.ms-videogallery-template .ms-thumb-list.ms-dir-h .ms-thumb-frame {
width: 83px;
height: 150px;
}
.ms-videogallery-template .ms-thumb img{
width: 83px;
height: 60px;
}

.ms-videogallery-template .ms-thumb-ol {
width: 83px;
height: 60px;
}

.ms-videogallery-template .ms-layer.video-title {
font-size: 11px!important;
line-height: 20px!important;
}


#crumbs{
width: 300px;
}

#content {
width: 300px;
margin-left: 10px;
}

#content.full_width .single_post{
width: 100%;
}

.single_photo .photo_bg_inner {
bottom: 10px;
}

.photo_bg_inner{
bottom: 10px;
}

.photo_bg_inner h1{
padding: 0px 20px;
font-size: 22px;
line-height: 130%;
}

.single_photo, .single_photo .photo_bg_shadow {
min-height: 300px;
}

#left_side, #left_side.ss_right_position, #sidebar-left, #sidebar-left.ss_right_position  {
display: none!important; 
}


#sidebar-right {
display:none;	
background: #fff;
position: relative!important;
width: 100%!important; 
padding: 0px!important; 
float: left!important; 
}  

.right-widget{
width: 260px;
margin: 0px 30px 40px 10px;
padding: 0px 20px 25px 20px;
} 


#sidebar-footer{
width: 100%;
} 

.footer-widget{
width: 100%;
max-width: 280px;
margin: 10px 0px 20px 20px!important;
}

#sidebar-footer-top .footer-widget{
width: 95%;
}


#sidebar-footer .full_width_posts_widget li:first-child .full_widget_info{
bottom: 0px;
}



.review-summary p{
width: 100%!important;
}

.review-final-score{
display: inline-block;
position: relative;
float: left;
height: auto!important;
width: 100%!important;
}

.single_title h1{
font-size: 22px!important;
line-height: 130%;
}

#content.full_width .single_post h1{
display: inline-block;
margin: 25px 0px 5px 0px;
}

.commentlist p{
width: 50%;
}

.children .comment {
float: right;
padding: 10px 5px 0 6px;
clear:both;
width: 99%;
margin: 10px 0px 10px 0;
}

.children .comment p{
width: 51%;
}

.social_box{
margin: 25px 10px 40px 15px;
display: block;
width: 90%;
height: 24px;
text-align: center;
}

#credit {
text-align: center;
font-size: 10px;
}

.right{
float: left;
}

.wpb_gallery .theme-default .nivoSlider {
min-height: 170px!important;
}

.single_post textarea#comment, 
.single_post input#url, 
.single_post .comment-form-email input, 
.single_post input#author{
width: 93%!important;
margin-top: 10px;
}

#content.full_width .single_post textarea#comment, 
#content.full_width .single_post input#url, 
#content.full_width .single_post .comment-form-email input, 
#content.full_width .single_post input#author{
width: 93%!important;
margin-top: 10px;
}

#author_content {
margin: -190px 0px 0px 10px;
}

.author_description p{
display: none;
}

.author_email{
display: inline-block;
float: left;
margin: 70px 0px 0px -145px;
}

.arqam-widget-counter ul li i{
margin: 5px 0px 0px 7px!important;
}

#container #content {
width: 100%!important; 
}

#banner_single_728{
width: 100%; 
}

#content.hide_sidebar #banner_index_728{
margin: 0px 0px 30px 0px;
width: 100%; 
}

#single_content {
width: 300px; 
margin: 25px 0px 0px 10px;
}

#single_content.content_with_one_sidebar {
width: 300px; 
margin: 25px 0px 0px 10px;
}

#single_content.hide_sidebar  {
width: 300px!important;
margin: 25px 0px 0px 10px!important;
}

#post-pagination-text,
.post_pagination_prev,
.post_pagination_next{
display: none!important; 
}

.single_post .single_thumbnail img{
width: 100%; 
}



.single_text img.fs {
width: 100%!important; 
min-width: 100%;
margin: 0px 0px 10px 0px!important;
}

.sp-caption-container {
position: relative;
bottom: 0px;
left: 0px;
width: 100%;
max-width: 97%;
}

#similar-post{
width: 100%; 
}

#similar-post .sim_title_box{
width: 100%; 
}

#similar-post li{
width: 100%;
}

#navigation_images{
width: 100%; 
}

#navigation_images .alignleft {
width: 100%;
}

#navigation_images .alignright {
width: 100%;
margin-top: 20px;
}

#author_box{
width: 100%; 
}


#author_box p{
width: 90%;
}

#content #author_box{
margin: 0px 0px 30px 0px;
width: 100%; 
}

#content #author_box h4{
padding: 15px 0px 0px 20px;
}

.author_icons{
margin: 20px 0px 10px 20px;
}

#author_box span{
float: left;
padding: 0px 20px 0px 0px;
}

#content .single_post{
width: 100%;
}

#archive{
width: 100%;
}

#archive li{
width: 97%;
}

#contact input {
width: 280px!important;
}

#contact textarea {
width: 280px!important;
}

body.woocommerce .inner_woo {
max-width: 300px!important;
}

body.woocommerce #sidebar-right {
margin-left: 0px!important;
float: left!important;
}

body.woocommerce #sidebar-right .right-widget{
margin: 0px 0px 40px -10px;
} 

#container #content[role=main] {
max-width: 300px!important;
margin-left: 0px!important;
}

.woocommerce ul.products li.product,.woocommerce-page ul.products li.product{
width: 97%;
}

.add_to_cart_button {
top: 20px;
left: 80px!important; 
}

.added_to_cart{ 
top: 0px;
left: 105px; 
}

.price{
left: 110px!important; 
}

.single .product{
width: 300px; 
}

blockquote {padding: 0px 0px 0px 20px;}

}


