@import url(https://fonts.googleapis.com/css?family=Droid+Sans);

/**************	register Page	#ca292e		#3c76b1		#323433 	*****************************************************************************/
.register {float:left; width: 340px; margin:0 auto; padding:0px 0px; border: 5px solid #ca292e; background:#fff; overflow:hidden;}
.signin_div {float:left; width: 378px;  padding:18px 40px;}
.register_div{float:left; width:353px; padding:18px 40px; background:#FCF2F3; min-height: 380px; }
.bg2 {font: 500 14px/25px 'Open Sans', Arial, Helvetica, sans-serif; color: #525252;}
.register .title1{display:inline-block; width:100%; font: 600 22px/28px 'Open Sans', Arial, Helvetica, sans-serif; color:#ca292e; padding: 0 0px; margin: 5px 5px 0 0px; text-align:left; }
.register .h1{float:left; width:100%; font: 600 22px/28px 'Open Sans', Arial, Helvetica, sans-serif; color:#ca292e; padding: 0 0px; margin: 5px 5px 0 0px; text-align:left; }
.register .title{float: left; width: 96%; font: 500 16px/18px 'Open Sans', Arial, Helvetica, sans-serif; color: #525252; padding: 0 0px 0px 0px; margin: 10px 5px 20px 0px; text-align: left; border-bottom: 0px solid #ccc; }

.register .lavel {float: left; width: 92.5%; font: 500 14px/14px 'Open Sans', Arial, Helvetica, sans-serif; color: #464646; padding: 0px; margin: 2px 0px -8px 0px; text-align: left; }
.register .lavel span, .register .orange {color: #ca292e;}
.register .text {float: left; width: 98.5%; font: 500 12px/17px 'Open Sans', Arial, Helvetica, sans-serif; color: #525252; padding: 8px; margin: 15px 0px 10px 0; text-align: left; background:#f5f5f5; border: 1px solid #ccc; }
.register .enquiry {float:left; width:98.5%; height:40px; font: 500 20px/40px 'Open Sans', Arial, Helvetica, sans-serif; color:#fff; padding: 0 0px; background:#ca292e !important; border-radius:0px; margin: 20px 10px 10px 0px; text-align:center; border:0 none; }
.register .link{float: left; width: 100%; font: 600 14px/18px 'Open Sans', Arial, Helvetica, sans-serif; color: #525252; padding: 0 0px 10px 0px; margin: 5px 5px 10px 0px; text-align: left; }
.register .caption{float: left; width: 100%; font: 400 11px/11px 'Open Sans', Arial, Helvetica, sans-serif; color: #525252; padding: 0 0px 5px 0px; margin: 0px; text-align: left; border-bottom: 0px solid #ccc; }
.register .radio{float: left; width: 100%; font: 500 13px/14px 'Open Sans', Arial, Helvetica, sans-serif; color: #464646; padding: 0 0px 0px 0px; margin: 10px 5px 20px 0px; text-align: left; border-bottom: 0px solid #ccc; }
.focusVal {font: 700 18px/25px 'Open Sans', Arial, Helvetica, sans-serif; color:#E78B00; text-align:center; text-transform:capitalize;}
.register .unhappyMessage {font: 600 13px/14px 'Open Sans', Arial, Helvetica, sans-serif; color:#FF0033; display:block; margin:0 0 10px 0;}
.login_sessMsg {color:#FF0000; font-weight:bold; margin:0 0 20px 0; font-size:16px;}

.login_register {font: 400 20px/40px "Open Sans", Arial, Helvetica, sans-serif; color: #ca292e;} 

.header_popup_lightbg {position:fixed; z-index:999; left:0; top:0; float:left; height:100%; width:100%; background:#000; opacity:0.4;}
.header_popup_login {position:fixed; z-index:9999; left:65%; top:50%; margin:-213px 0 0 -371px; }

.focusValAb .focusVal {position:absolute; left:0; top:-42px; float:left; width:auto; font-size:14px; line-height:25px; color: #ca292e;font-weight: bold;}
.focusValAb span {position:relative;}




/******	member	****************/

.col li {float: left; width: 100%;}
.col2 li {float: left; width: 50%;}
.col3 li {float: left; width: 33%;}
.col4 li {float: left; width: 25%;}
.col5 li {float: left; width: 20%;}
.bgGround1 {height: 26px; vertical-align: middle;}

.liActive_g {color: #FFFFFF; background: #CCCCCC; }
.liActive_g1 {color: #FFFFFF; background: #F8F8F8; }
.liActive_c {color: #FF5336;  }
.link_li {font-size: 13px; height: 20px; color:#005BB7; vertical-align:middle; font-weight: bold; text-decoration: none;  }
.link_li li:hover, .link_li:hover {color: #FF5336;   }



.member_bar {text-align:right; position:relative; }
.member_name {color: #ca292e; font-size: 18px;margin: -5px 0 0 20px;/* width: 41%; */float: left !important;height: 23px;}
.member_hi {color: #333;}
.member_link_bar {position: relative; top: 25px; border-bottom: 1px solid #FF5336; padding-bottom: 15px;}
.member_link {color:#FFFFFF; padding:12px 7px 12px 7px; border-radius: 10px 10px 0 0; background:#FF5336; background:linear-gradient(#FFA953, #FF5336); text-decoration:none; font-size:14px; font-weight:bold; }
.member_link:hover, .member_link_bar > .active {position:relative; top:-3px; padding:15px 7px 15px 7px; color:#FFFF66; border-radius: 10px 10px 0 0; background:#FF5336; background:linear-gradient(#FFA953, #FF5336); text-decoration:none; font-size:14px; font-weight:bold;  }

#pageTitleId {display:none;}
.sucessView {background:#fff; padding:5px; font-size:14px; line-height:25px; color:#FF5336; border:1px solid #FF5336; border-left:0 none; border-right:0 none;}
.memberForm_main {border:1px solid #ccc; border-radius: 10px; overflow:hidden; margin:0 0 10px 0;}
.memberTitle_bar {background:#DFDFDF; border: 0px solid #f9f9f9; padding:5px; height:35px; vertical-align:middle;}
.memberTitle_div {float:left; font:600 25px/25px "Open Sans", Arial, Helvetica, sans-serif; color:#333333; margin-top: 5px; padding-left: 7px;}
.memberTitle_link {float:right; background:#ffffff; border: 1px solid #ccc; border-radius: 5px; padding:4px 10px; font-size:16px; color:#004488; font-weight:bold; margin:0 0 0 5px; margin-left:5px;}
.memberTitle_link:hover {float:right; background:#666666; border: 1px solid #ccc; border-radius: 5px; padding:4px 10px; /*font-size:16px*/; color:#fff; font-weight:bold; margin:0 0 0 5px; margin-left:5px;}
.memberTitle_active {float:right; background:#FF6600; border: 1px solid #804000; border-radius: 5px; padding:4px 10px; font-size:16px; color:#fff !important; font-weight:bold; margin:0 0 0 5px; margin-left:5px;}
.memberButton {background:#f3f3f3; border: 1px solid #ccc; border-radius: 5px; padding:4px 30px; margin:5px; font-size:16px; color:#004488; font-weight:bold; cursor:pointer;}

.tableMember th {border: 1px solid #EBEBEB; background: #E7E7E7; color:#333333; padding-left: 10px; padding-right: 10px; text-align:left; font: 600 15px/175% "Open Sans", Arial, Helvetica, sans-serif;}
.tableMember td {border: 1px solid #EBEBEB; padding-left: 10px; padding-right: 10px; font:400 14px/175% "Open Sans", Arial, Helvetica, sans-serif;}

table.tableMember td:nth-child(1), table.tableMember td:nth-child(3) {border-right: 0px; }
table.tableMember td:nth-child(2), table.tableMember td:nth-child(4) { border-left:0px; }


.tableMember a {font-size: 14px; font-weight: bold; color: #FF5336;}
.sucessErrorValid {background:#FF5336; padding:5px; color:#FFFFFF; font-size: 14px; line-height: 25px;}

#links_leftp_01_0_parent_id a, #links_leftp_01_0_parent_id a span {font:600 14px/175% "Open Sans", Arial, Helvetica, sans-serif;}
#links_leftp_01_0_parent_id .dashb {font:400 30px/30px "Open Sans", Arial, Helvetica, sans-serif; margin:0 0 10px 0;}
#links_leftp_01_0_parent_id .dashu {font:400 16px/18px "Open Sans", Arial, Helvetica, sans-serif; color:#FFFFFF; padding:0 0 2px 20px;}
/*
.tableMember td > div {display:none;}
.tableMember tr:hover td > div {display:block;}
*/


.addRowTableDiv {float:left; width:100%; position:relative; height:inherit; }
.more_uploadDiv {float:left; width:100%; height:25px; padding:13px 0; }
.more_uploadDiv .label {float:left; width:20.5%; text-align:left;}
.more_uploadDiv .file {float:left; width:40%; text-align:left; border:1px solid #ccc; padding:3px; margin:-4px 20px 0 0;}
.more_uploadDiv .del {float:left; width:50px; text-align:left; margin:2px 0 0 0;}

.addMore {float:left; width: 106px; position:absolute; bottom: 10px; right:5px; font:700 18px/30px 'Open Sans', Arial, Helvetica, sans-serif; color:#CE3400; cursor:pointer; text-decoration:none;}

.row_class_0 {background:#333333; color:#FFFFFF;}
.row_class_1 {background:#CCCCCC; padding:0px; margin:0px;}
.row_class_2 {background:#E8E8E8; padding:0px; margin:0px; }

.bg_frm1 {font-weight: bold; font-size: 15px; color: #FFFFFF; background: #999999 url("../images/arrow_d.gif") 10px 12px no-repeat; border: 1px solid #EBEBEB; cursor: hand; padding-left: 26px; padding-top: 3px; height: 25px;}


.popup1 {position:absolute; left:0; top:0; z-index:1; visibility: visible; display:none; border: none;}
.fieldset { border: 1px solid #CCCCCC; width: 98%; margin:0px; padding:5px; }
.legend {font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 13px; line-height: normal; color: #0A5C98; font-weight: bold; text-decoration: none; 	background:#F4F4F4; }
/*.input { width: 200px; color:#333333; border: 1px solid #999999; }*/
.input320 { width: 320px; color:#333333; border: 1px solid #999999; } 
/*.countrySet { width: 180px; color:#333333; border: 1px solid #999999; font: 700 12px/18px "Open Sans";} */
.dpTable .countrySet { width: 45px !important; color:#333333; border: 1px solid #999999; font: 700 12px/18px "Open Sans"; padding: 1px;}
.countrySet{border:1px solid #dcdcdc; width:95% !important; padding:10px 5px; color:#656565; font:400 13px 'Open Sans', sans-serif; }
select.countrySet {border:1px solid #dcdcdc; width:100% !important; padding:10px 5px; color:#656565; font:400 13px 'Open Sans', sans-serif; }
.inp-project{border:1px solid #dcdcdc; width:98% !important; padding:10px 5px; color:#656565; font:400 13px 'Open Sans', sans-serif; }

#subpageId .inp-project{width:100% !important;  }
#subpageId .bold {font-size:18px !important; }


.check_row, .check_row .check, .check_row .input {float:left;}
.check_row .check {width:30%; padding:7px 0 0 0;}
.check_row {width:33.333333%; margin:4px 0;}

.input_left_view .check { padding:0px 0 0 5px; background:#ccc; margin:0 10px 0 0;}


.inputClass { width: 150px; color:#333333; border: 1px solid #999999; background-color: #ffffff; } 
.inputClass2 { width: 135px; color:#333333; border: 1px solid #999999; } 
.optgroup { font-weight:bold; }
.optgroup1 { font-weight:bold; background: #F5F5F5; }
.optgroup2 { font-weight:bold; background: #ffffff; }
.iconGround {font-size: 10px; color: #333333; font-weight: normal; text-decoration: none; background-color: #F1E8DC; }

.proSelect select.countrySet {float: left; width: 461px; font: 500 12px/17px 'Open Sans', Arial, Helvetica, sans-serif; color: #333333; padding: 8px; margin: 7px 0px 7px 0px; text-align: left; background:#f5f5f5; border: 1px solid #ccc; cursor:pointer;}
.proSelect input.countrySet { width: 410px; }

.col-2 .text2 {width:203px;}
.listCat {font: 600 14px/22px 'Open Sans', Arial, Helvetica, sans-serif; color: #666;}

#assoLoginId label {color: #ffffff;}
.popup { position:absolute; left:0; top:0; z-index:1; visibility:hidden; display:none }
.label {text-align: right;}


.uploadfile_view {width:250px; height:200px; overflow:hidden; cursor:pointer;}
.uploadfile_fullView {max-width:975px; background:#fff; vertical-align:top;}
.productEdit {position:relative; display:inline-block; width:60px; height:25px; font:700 15px/25px "Open Sans"; color:#fff; background:#565656; text-transform:uppercase; text-align:center; border-radius:7px; }

.pagination{width:100%; display:inline-block; padding:0px; margin:10px 0px 0px 0px; text-align:center;}
.tableMemberPagination {width: inherit; margin: 0 0 10px 0;}
.pagination a{padding:0px 4px; margin:0px; color:#586681; font:normal 15px "Open Sans"; text-decoration:none;}
.pagination a:hover{color:#da7006;}
.pagination span {display:inline-block; padding:0; margin:0; font:500 14px/25px 'Open Sans'; color:#676767;}
.pagination span.resultof {}

.pagination a.active {background:#FF0000 !important; color:#FFFFFF !important;}
.pagination a.actived {background:#fff !important; color:#586681 !important; text-decoration: line-through !important;}

#autoLoderImgId {display:none;float:left; width:100%; margin:20px 0;}
.autoLoderImg {font: 600 14px/14px 'Open Sans'; color: #E01A20; width: 300px; margin: 10px auto; }

.mTitle {float:left; position:relative; width:100%; background:#CCCCCC; font:800 15px/25px "Open Sans"; color:#333333; margin:8px 0 0 0px; padding:0 0 0 15px; text-align:center;}
.mCheckbox {float:left; width:33.2%;}

.dash_newsTitle .countrySet {width:100%;}

.row_title { background:#ccc; font:600 18px/30px 'Open Sans' !important; color:#fff;}



/******	auto search	****************/
.autocomplete-w1 { background:url(shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:9px 0 0 6px; margin:1px 0 0 0; }
.autocomplete { width:509px ; border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; min-height:auto; overflow:auto; margin:-6px 6px 6px -6px; margin:0; overflow-x:hidden; }
.cityFilterActive .autocomplete {width: 303px !important; margin-top: 0px !important;}
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; overflow:hidden; font:600 14px/20px "Open Sans"; color:#333333; }
.autocomplete strong { font-weight:normal; color:#FF5336; }


table.tableMember {width:100%; border-collapse:collapse;}
table.bg1 {width:95%; border-collapse:collapse;}
table.bg1 .bg2 {font: 500 16px/30px "Open Sans", Arial, Helvetica, sans-serif; color: #ca292e;}
table.bg1 .orange {font: 700 22px/30px "Open Sans", Arial, Helvetica, sans-serif; color: #CA7B05;}
table.bg1 .title1 {font:600 25px/30px "Open Sans", Arial, Helvetica, sans-serif; color: #ca292e; margin:30px 0 20px 0;}
table.bg1 .bg2 b {font: 700 18px/30px "Open Sans", Arial, Helvetica, sans-serif; color: #ca292e;}

.mem {color:#999999;float: right;}
.mem a {font: 500 14px/30px "Open Sans", Arial, Helvetica, sans-serif; color: #0191DA;}



/**************************************************************************************************************************************/


.nav-menu {float:left; width: 1000px; height: 37px; border-top: 2px solid #E3E3E3; border-bottom: 2px solid #E3E3E3; margin:0px 0; overflow:hidden;background: #fff; margin:20px 0 0 0;}
.nav-menu ul {float:left; width:632px; background: #fff; margin: 9px 0 0 0;}
.nav-menu ul li {float:left; list-style:none;}
.nav-menu ul li a {float:left; font: 700 16px/18px 'Open Sans', Arial, Helvetica, sans-serif; color:#1b1b1b; white-space:nowrap; padding: 0 6px 0 12px; }
.nav-menu ul li.active a, .nav-menu ul li:hover a  {color:#e92018;}

.search_div {float:right;}
.search_div .text {width:255px; height: 28px; font: 600 16px/28px 'Open Sans', Arial, Helvetica, sans-serif; color:#1b1b1b; padding:5px 0; border:2px solid #c1c1c1; margin: -5px 10px 0 0;}
.search_div .submit {width:70px; height: 27px; background:#124e8a; border:0 none; font: 600 16px'Open Sans', Arial, Helvetica, sans-serif; color:#fff;margin: 4px 0 0 0;}



/*******************************************************************************************************************************************/
.theTitle {width: 100%; font: 600 30px/35px 'Open Sans', Arial, Helvetica, sans-serif; color: #004c9e; padding: 0 0px 13px 0px; }

.page .description h2 {float:left; width:98%; font: 600 20px/20px 'Open Sans', Arial, Helvetica, sans-serif; color: #0a1b25; margin:8px 0;}
.page .description p {float:left; width:98%; font: 500 17px/25px 'Open Sans', Arial, Helvetica, sans-serif; color: #363231; margin:8px 0; text-align:justify;}
.page .uploaded-image {float:left; width:98%; height:inherit; overflow:hidden; margin:10px 0 25px 0; }
.page .uploaded-image img {width:101%; height:inherit; overflow:hidden; }

.page .tagDiv p {float:left; width:98%; font: 600 14px/20px 'Open Sans', Arial, Helvetica, sans-serif; color: #14558D; margin: 2px 0;}
.tagDiv p.fllow {font: 700 20px/25px 'Open Sans', Arial, Helvetica, sans-serif; color: #14558D; margin: 15px 0 10px 0; background:url(images/icon_twit_2.png) no-repeat left center; padding: 0 0 0 53px;}
.tagDiv p.fllow-text-bold {font: 700 16px/20px 'Open Sans', Arial, Helvetica, sans-serif; color: #14558D; margin: 10px 0 -5px 0;  padding: 0 0 0 0px;}
.facebook_comment {float:left; width:810px; height:300px; overflow:hidden;}

.page .social_media_3 {width:800px; height:40px; overflow:hidden; margin:30px 0;}
.page .social_media_2 {width: 378px; height: 50px; overflow:hidden;margin-right: 14px;float: right;margin-top: 10px;}

.page .right .st_pinterest_hcount {margin-top:30px;}
.page .right .st_email_hcount {margin-top:30px;}

.cat .description {float:left; width:93%; height:140px; margin:20px 0 0 0; padding:0 15px 0 0; border-bottom:1px solid #ccc;}
.cat .description .uploaded-image {width:150px; height:100px; margin:5px 15px 0 0;}
.cat .description .theTitle {float:left; width: 80%; margin: -3px -15px 0 0; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.cat .description p {width: 80%; margin: -3px -15px 0 0;}

/*******************		search					******************************************************************************/
/*.header_search_main {position:absolute; left: -10px; top: 30px; z-index:5; float:left; width:100%; height:50px;}*/
.header_search_main {position: relative; left: 0px; top: 0px; z-index:5; float:left; width:100%; height:50px;color: #fff;}
.header_search_lightbg {position:absolute; z-index:6; background:#000; opacity:0.7;  width:100%; height:inherit}
.header_search_login {position:absolute; z-index:7; width:100%; height:inherit ;left: 10px;top: 7px;}
.header_search_login .input {float:left; width:150px; height:30px; margin:5px 10px 5px 0; }
.header_search_login .input select {border:1px solid #dcdcdc; width:100%; padding:5px; color:#656565; font:400 13px 'Open Sans', sans-serif;}
#inst_header_search_main .countrySet {border:1px solid #dcdcdc; width:100%; padding:5px; color:#656565; font:400 13px 'Open Sans', sans-serif;}
#inst_header_search_main input.countrySet[type='text'] {width:90% !important; }
#inst_header_search_main .level {float:left;margin-right: 5px;padding-top: 5px;}
#inst_header_search_main .inputflied {float:left;}
.header_search_login .input .searchSubmit {background:#004488; border: 1px solid #A0A0A0; border-radius: 5px; padding:4px 30px; margin: 0px; font-size: 17px; color: #FFF; font-weight:bold; cursor:pointer;text-transform: uppercase;height: 33px;}
.closeSearchPanel {position: absolute; z-index: 999999999; float: right; font: 600 17px/13px 'Open Sans', Arial, Helvetica, sans-serif; color: #CFCFCF; background: #7B7B7B;  height: auto; padding: 5px 7px; border-radius: 110%; margin: 0px; cursor: pointer; right: 16px;width: auto;top: 12px;}

#searchPageContent {float:left; width:100%; margin:20px 0 0 0;}
.data-list {float:left; width:100%;}
.row_search_1 {background:#FFF;}
.row_search_2 {background:#f7f7f7;}
.data-list .content {float:left; width: 94%;/* background: #ccc; */margin: 10px 0 7px 30px; position:relative;  border-bottom: 1px solid #ccc; padding-bottom: 15px;}
.data-list .lef_col {display:block; width:65%;}
.data-list .full_col {display:block; width:100%;}
.data-list .content .rows {float:left; width:100%;}
.data-list .content .col_1 {float:left; width: 15%; margin: 0px 0px 10px 0;}
.data-list .content .col_2 {float:left; width: 84%; margin: 0px 0px 0px 0;/* background: #ccc; */text-indent: -9px;}
.data-list .content .public {width: 250px; height:160px; overflow:hidden;}
.data-list .content .public img {width: 250px;}

.searchTable {width:100%; border-collapse:collapse; padding:0; margin:0;}
.searchTable td {font: 600 14px/20px 'Open Sans', Arial, Helvetica, sans-serif; color:#494949; padding: 3px; }
.searchTable .fullName {font: 700 16px/20px 'Open Sans', Arial, Helvetica, sans-serif; color:#494949; }
.dataListavailable {width:97%; text-align:right; font: 500 16px/20px 'Open Sans', Arial, Helvetica, sans-serif; color:#494949; margin-right:10px;}
.dataListavailable b{font: 700 16px/20px 'Open Sans', Arial, Helvetica, sans-serif; color:#494949;}





/*****	use content 	*******************************************************************************************/

/* Primary Section */
#primary p { padding:10px; color: #444444; font: 12px/20px Arial,Helvetica,sans-serif; text-align: justify; }
#primary p img { max-width: 100%; padding:2px; background:#f3f3f3; background-image:-moz-linear-gradient(top, #ececec, #dedede); background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0.00, #ececec), color-stop(1.0, #dedede)); -webkit-box-shadow:0px 1px 2px 0px #4a4a4a; -moz-box-shadow:0px 1px 2px 0px #4a4a4a; box-shadow:0px 1px 2px 0px #4a4a4a; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; margin-top:5px; }
#primary p img[align="left"] { margin-right:10px; }
#primary p img[align="right"] { margin-left:10px; }
#primary p img[align="middle"] { margin:10px; max-width:650px; }
#primary > strong{ font: bold 15px Arial, Helvetica, sans-serif; color:##444444; padding:10px; }
#primary > p, #primary > div { overflow: hidden; color: #5B5B5B; font: 12px/20px Arial,Helvetica,sans-serif; margin: 0 0 4px; text-align: justify; font: 400 14px/25px 'Open Sans'; }
#primary div.box { clear: both; width: 100%; }
/* End Primary Section */
/* Secondary Section */
#secondary .box { border-bottom:1px solid #f2f2f2; overflow:hidden; clear: both; width: 100%; float: left; margin: 30px 0 0 0;}
#secondary .box h1.header { border-top-color:#696969; }
#secondary .box h1.header > span, .h1top { float: left; margin-right:10px; font: 600 20px/25px 'Open Sans'; width: 100%; text-align: center;}
#secondary .box ul li { clear:both; padding: 14px 0px; font-family:'Open Sans' ; border-bottom: 1px solid #e6e6e6; float: left; width: 100%; margin: 0 0 10px 0;}
#secondary .box ul li .img {float:left; width: 127px; height:127px; overflow: hidden;padding:0; margin: 3px 10px 10px 10px; -webkit-box-shadow:0px 1px 5px 0px #4a4a4a; -moz-box-shadow:0px 1px 5px 0px #4a4a4a; box-shadow:0px 1px 5px 0px #4a4a4a; }
#secondary .box ul li img { width: 127px;   }
#secondary .box ul li h2 { letter-spacing: 0px; overflow:hidden; font: 600 16px/25px 'Open Sans'; color: #4c4c4c;}
#secondary .box p { font: 500 14px/25px 'Open Sans'; color: #5c5c5c;}
#secondary .box a { font: 500 14px/25px 'Open Sans'; color: #ca292e; font-style:italic;}
#secondary .box ul li span{ font-size:20px; line-height:20px; }
#secondary .box ul li a.rm { display:block; font-size:16px; }
#secondary .box img.calender { width:320px; padding:1px 0; }
/*---------------------------------------*/


.career #secondary .box ul li {clear:inherit; float:left !important; width:30.3333%; margin:0 48px 20px 0; height: 330px; overflow: hidden;}
.career #secondary .box ul li:nth-child(3) {margin:0 0px 20px 0;}
.career #secondary .box ul li .img {float:none; margin: 0 auto 20px auto; width: 200px;height: 200px;line-height: 200px;border-radius: 140%;}
.career #secondary .box ul li img { width: 200px; height:auto;   }
.career #secondary .box ul li h2 { height:30px; font-size:18px; text-align: center;}


#secondary .box1 { border-bottom:1px solid #f2f2f2; overflow:hidden; }
#secondary .box1 h1.header { border-top-color:#696969; }
#secondary .box1 h1.header > span { float:right; margin-right:10px; }
#secondary .box1 ul li { clear:both; padding:8px 5px; font-family:'Open Sans' }
#secondary .box1 ul li img { width:290px; float:left; margin:10px; -webkit-box-shadow:0px 1px 5px 0px #4a4a4a; -moz-box-shadow:0px 1px 5px 0px #4a4a4a; box-shadow:0px 1px 5px 0px #4a4a4a; }
#secondary .box1 ul li h2 { font-size:23px; letter-spacing:1px; overflow:hidden; max-width:130px; height:40px; }
#secondary .box1 ul li span{ font-size:20px; line-height:20px; }
#secondary .box1 ul li a.rm { display:block; font-size:16px; }


.hl_blocks_row_img img{width:100%;}
#like-facebook {
    display: none !important;
}

@media (max-width:742px){
	.header_popup_login {position: absolute;  left: 6%;  top: 113px; margin: 0px; }
	.closeFancy {right: 9%; }
	.register {width:90%;}
	.register_div, .signin_div {width:100%;}
	.register_div, .signin_div {padding: 18px 13px; }
	#contactForm #std {display:none!important;}
	#contactForm #mobile {width: 92.5% !important;}
	/** #contactForm #email {width:92.5%;} **/
	.register .enquiry {width:99.5%;}
	
	.career #secondary .box ul li {width:100%; height:inherit;}
}
@media (max-width:700px){
	.fbm{display:none;}
}
@media (max-width:445px){ 
	.closeFancy{padding: 11px 18px;}
	.header_right {position:absolute; top:-5px; right:2%;}
}
@media (max-width:405px){ 
	#contactForm #std {width: 15% !important; margin-bottom: -8px;}
	#contactForm #mobile {width: 92% !important; border: 1px solid #ccc!important;}
	.register_div, .signin_div {width: 100%;}
	
}
@media (max-width:320px){
 .header_popup_login {left: 1%!important;}	
    .header_popup_login { left: 0%;}
	#contactForm #std {display:none!important;}
	#registerTheForm{ width: 230px!important;}
}






#maindiv{width:98%; margin:10px auto; padding:10px; font-family: 'Droid Sans', sans-serif; }
#formdiv{width: 100%; float:left; text-align: center; }

#filediv{float:left; margin: 0 10px 0 0;}
#formdiv .upload{background-color:#ff0000; border:1px solid #ff0000; color:#fff; border-radius:5px; padding:10px; text-shadow:1px 1px 0px green; box-shadow: 2px 2px 15px rgba(0,0,0, .75); }
#formdiv .upload:hover{cursor:pointer; background:#c20b0b; border:1px solid #c20b0b; box-shadow: 0px 0px 5px rgba(0,0,0, .75); }
#formdiv #file{color:green; padding:5px; border:1px dashed #123456; background-color: #f9ffe5; }
#formdiv #upload{margin-left: 45px; }

#noerror{color:green; text-align: left; }
#error{color:red; text-align: left; }
#img{width: 17px; border: none; height:17px; margin-left: -20px; margin-bottom: 91px; cursor: pointer;}

#formdiv .abcd{text-align: center; float: left;width: auto;height: auto;}

.abcd img{height:100px; width:100px; padding: 5px; border: 1px solid rgb(232, 222, 189); cursor: zoom-in; }
#formdiv b{color:red; }
#formget{float:right; }

#formdiv strong {display: block; text-align: left; margin: 0 0 10px 0; }
.tagsview span {display:block; font:600 14px/30px 'Open Sans'; color: #2E2E2E; background: #F3F3F3; padding:1px 20px; margin:7px 15px 7px 0; width: auto;float: left;border-radius: 4px; }

/*.hc_left_blocks ul {max-height: 298px !important;overflow: hidden; }*/
/* .slideUp .caroufredsel_wrapper, .slideUp { height:298px; max-height:298px;  overflow:hidden;} */

.hl_blocks_row {float:left; width:100%; height: 80px !important; margin:0 0 28px 0 !important; overflow:hidden; }
.hl_blocks_row a.wrapper {float:left; width:68%; height: 80px !important; margin:0 0 28px 0 !important; overflow:hidden; }
