
@font-face {
font-family: 'texgyreherosregular';
src: url('fonts/texgyreheros-regular-webfont.eot');
src: url('fonts/texgyreheros-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/texgyreheros-regular-webfont.woff') format('woff'), url('fonts/texgyreheros-regular-webfont.ttf') format('truetype'), url('fonts/texgyreheros-regular-webfont.svg#texgyreherosregular') format('svg');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'HelveticaNeueLight';
src: url('fonts/HelveticaNeueLight.eot');
src: url('fonts/HelveticaNeueLight.eot') format('embedded-opentype'), url('fonts/HelveticaNeueLight.woff2') format('woff2'), url('fonts/HelveticaNeueLight.woff') format('woff'), url('https://www.loofre.com/wp-content/themes/loofre/font/HelveticaNeueLight.ttf') format('truetype'), url('https://www.loofre.com/wp-content/themes/loofre/font/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
}


.agreement-main{ margin: auto; padding:0; max-width:1100px; width:100%;}
.agreement-head{ width:100%; padding:0; margin: 25px 0; float:left;}
.agreement-head h2{ text-transform:capitalize; padding:0; margin:0; width:100%; text-align:center; font:25px 'HelveticaNeueLight'; color:#4c4c4c;}
.agreement-head p{ text-align:center; width:100%; line-height: 1.9;padding:0; margin:15px auto 0; font-size:1.4em; color:#4c4c4c;  font-family: "texgyreherosregular", Arial, Helvetica, sans-serif; text-shadow: 0 0 black; max-width:85%;}
.agreement-body{ width:100%; float:left; padding:0; margin:0; margin-bottom:20px; text-shadow: 0 0 black;font-family: "texgyreherosregular", Arial, Helvetica, sans-serif;}

.left-form{ float:left; width:48%; padding:0; margin-left:21px;}
.block-detail{ text-align: left;float:left; width:80%; border:1px solid #d7d7d7; padding:16px 18px; margin:0; color:#939393; border-radius:3px; font:13px 'HelveticaNeueLight'; margin-top:8px; background-color:#fefefe;}
.block-subdetail{ width:35%; float:left; padding:16px 17px; border:1px solid #d7d7d7; font:13px 'HelveticaNeueLight'; margin:10px 20px 0 0; border-radius:3px;color:#939393; background-color:#fefefe; }
.left-form h3, .right-form h3, .terms-condition h3{ font:20px 'HelveticaNeueLight'; color:#000; float:left; margin:49px 10px 8px 0; padding:0; color:#313131;}
.right-form h3{ margin-left:75px !important; float:left;}
.block-detail span{ padding:15px; border-right:1px solid #d7d7d7; border-radius:3px; margin-right:15px;}
.terms-condition h3{ padding:0 !important; margin-bottom:10px !important; margin-top:0 !important;}
.right-form{float:right; width:48%; padding-right:23px; margin:0;}
.terms-condition{ float:left; width:100%; margin:50px 0;}
.terms-condition ul{ float:left; width:100%; font:13px/30px 'HelveticaNeueLight'; color:#4c4c4c; padding:0; margin:0;}
.terms-condition ul li:nth-child(n){ text-align: left;float:left; width:46%; font:13px/30px 'HelveticaNeueLight';}
.terms-condition ul li:nth-child(2n){ float:right; width:46%; font:13px/30px 'HelveticaNeueLight';}
.last-row{ width:43%; float:left; margin-top:40px; padding:0; font-family:'HelveticaNeueLight'  }
.last-row span{ font:16px 'HelveticaNeueLight'; float:left; margin-left:5px; color:#4c4c4c;}
.send-button{ float:left; width:34%; padding:15px 11px; margin-top:25px; background-color:#eb2429; border:1px solid #eb2429; border-radius:3px; color:#fff; text-align:center;}
.check-box{ border:1px solid #3c3c3c; float:left;}
.right-form .block-detail {float: right;}
.loadingdiv{  display: none;position: fixed;opacity: .5;background-color: #fff;height: 100%;width: 100%;}
.loadingdiv .Loadingimg{position:fixed;top: 40%;left: 45%;}

.banner {float:left; width:100%; height:405px; background:url(<?php bloginfo('template_url'); ?>/images/bannerm.png) repeat-x;margin-bottom:50px;}
.banner .text{display: block; width: 70%; text-align: center; font: 500 40px/59px 'Open Sans'; color: #fff;
    padding: 30px; margin: 140px auto 40px auto; }
span.block-detail{text-align:center !important;}
@media only screen and (max-width:1024px) and (min-width:769px) {
.container {
    height: auto;
    margin: 0 auto;
    max-width: 1100px;
    padding: 0;
    text-align: left;
    width: 96%;
}


.agreement-main {
    margin: auto;
    max-width: 1100px;
    padding: 0;
    width: 96%;
}

.left-form {
    float: left;
    margin-left: 2%;
    padding: 0;
    width: 48%;
}

.right-form {
    float: right;
    margin: 0;
    padding-right: 2%;
    width: 48%;
}

.block-detail {
    background-color: #fefefe;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    color: #939393;
    float: left;
    font: 13px "HelveticaNeueLight";
    margin: 8px 0 0;
    padding: 16px 8%;
    text-align: left;
    width: 80%;
}


.block-subdetail {
    background-color: #fefefe;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    color: #939393;
    float: left;
    font: 13px "HelveticaNeueLight";
    margin: 10px 3% 0 0;
    padding: 16px 17px;
    width: 37%;
}


.terms-condition {
    clear: both;
    float: none;
    margin: 0 auto;
    width: 96%;
}
	
.last-row span{	text-align:left; width:88%}
}
	
	
@media only screen and (max-width:768px) and (min-width: 319px) {
.agreement-main{ margin: auto; padding:0; max-width:1100px; width:90%;}
.agreement-head h2{ width:100%; text-align:center;}	
.agreement-head p{width:100%; text-align:left;}
.left-form{width:100%; margin:0;}	
.left-form h3, .right-form h3, .terms-condition h3{text-align:center; margin-left:0 !important;}
.block-detail{width:100%; box-sizing:border-box; padding:10px 12px;}
.block-subdetail{width:50%; box-sizing:border-box; width:100%; margin-right:0; padding:10px 12px;}
.right-form{width:100%; padding-right:0px;}
.terms-condition ul	{width:100%}
.terms-condition{margin-top:20px}	
.terms-condition ul li:nth-child(n){ float:left; width:97%; margin-left:3%;}
.terms-condition ul li:nth-child(2n){float:left; width:97%; margin-left:3%;}
.last-row{width:100%; box-sizing:border-box;}

.last-row span{width:88%; text-align:left;}

.banner .text {
    color: #fff;
    display: block;
    font: 500 31px/39px "Open Sans";
    margin: 77px auto 40px;
    padding: 30px;
    text-align: center;
    width: 70%;
}

}

@media only screen and (max-width:480px){
.banner .text {
    width: 95% !important;
	font: 500 3.0em "Open Sans";
}
}
div.title 
	{
		color:#D0CAD1;
		font-size:16px;
		height: 0;
	}
	input.upload 
	{
        right:0;
        width:100%;
        top:0px;
        margin:0;
        bottom:0;
        padding:0;
        opacity:0;
        height:20px !important;
        outline:none;
        cursor:inherit;
        position:relative;
	}	
	
	
	
	.thisClass {font:600 14px 'Open Sans'; color:#F30;}
.popup_restaurant_select {display:none; position:absolute; float:left; width:100%; height:300px; z-index:5; top:0; left:0; background:#fff; border:1px solid #e6e6e6; border-radius: 5px; font:500 14px/18px 'Open Sans'; color:#333;}
.popup_restaurant_select .closeFancy {margin-right:-8px;}
.popup_restaurant_select .closeFancy:hover {color:#fff !important; }
.popup_restaurant_select .main_row {float:left; width:100%; height:299px; overflow:hidden; overflow-y:auto;}
.popup_restaurant_select .row {width:100%; padding:10px; border-bottom: 1px solid #e6e6e6; cursor:pointer;}
.popup_restaurant_select .row .name {font:600 18px/20px 'Open Sans'; color:#ca292e; text-transform:uppercase; }
.popup_restaurant_select .row:nth-child(even) {background: #f5f5f5;}
.popup_restaurant_select .row:hover {background: #ccc !important;}
.popup_restaurant_select .row.active {background: rgba(233, 10, 17, 0.12) !important; }

.error {color:#ca292e;}


/* Merchant registration form */
#addMoreUpld {
    margin: 25px 0;
}
#addMoreUpld td:nth-child(3) {
    padding-left: 6%;
}
#addMoreUpld td {
    border: none;
    height: 50px;
}
#addMoreUpld .row_title {
    background-color: transparent;
}
#addMoreUpld .row_title div {
    color: #fff;
    border-radius: 15px;
    padding-left: 30px;
    height: 30px;
    margin-top: -10px;
    border: 2px solid #006b96;
    box-shadow: 2px 2px 3px 0px #000;
    background-color: #0098d6;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#00b1f7), to(#0175a3));
    background: -webkit-linear-gradient(top, #00b1f7, #0175a3);
    background: -moz-linear-gradient(top, #00b1f7, #0175a3);
    background: -ms-linear-gradient(top, #00b1f7, #0175a3);
    background: -o-linear-gradient(top, #00b1f7, #0175a3);
    text-shadow: 0 1px #000;
}
#addMoreUpld .col_cuisine {
    padding-right: 19%;
}
