/* set all the styles to 0 */
html, body, table, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, a{ 
	margin: 0px;
	padding: 0px;
	border: 0px;
}
/* Firefox will always display a scroll bar */
html{
	min-height: 100%;
	margin-bottom: 1px;
}

html, body{
	height:100%;
}
 img, div, input {behavior: url("iepngfix.htc")}
:focus {outline:0px;}

@font-face {
 font-family: 'texgyreherosregular';
 src: url('../fonts/texgyreheros-regular-webfont.eot');
 src: url('../fonts/texgyreheros-regular-webfont.eot?#iefix') format('embedded-opentype'), 
 url('../fonts/texgyreheros-regular-webfont.woff') format('woff'), 
 url('../fonts/texgyreheros-regular-webfont.ttf') format('truetype'), 
 url('../fonts/texgyreheros-regular-webfont.svg#texgyreherosregular') format('svg');
 font-weight: normal;
 font-style: normal;
}


body{font-family:"texgyreherosregular", Arial, Helvetica, sans-serif; font-size:11px; color:#000; text-decoration:none; margin:0px; padding:0px; background-color:#f9f9f9;}
a{cursor: pointer; outline:none; text-decoration:none;}
a img{border:0; outline:none;}
img{border:0px; outline:none;}
p{padding:3px 0px; margin:0px;}
h1{font-family:arial,verdana; font-size:11px; color:#000; text-decoration:none; margin:0px;	padding:0px;}

.menubg{background-color:#000 !important;}
.greybg{background-color:#f0f0f0 !important;}
.whitebg{background-color:#ffffff !important;}



.float_l{float:left !important;}
.float_r{float:right !important;}

/*LOGIN SCREEN*/

.loginCRM_main{width:100%; padding:0; margin:0; text-align:center; height:100%;}
.loginCRM_Container{width:390px; margin:0 auto; height:100%; display:table;}
.loginCRM_master{width:100%; height:100%; display:table-cell; vertical-align:middle;}

.loginCRM{width:90%; float:left; border:1px solid #e0e0e0; background:#ffffff; margin:25px 0 0 0; padding:4% 4% 5% 4%; -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; -webkit-box-shadow:1px 1px 8px -4px #6c6c6c; -khtml-box-shadow:1px 1px 8px -4px #6c6c6c; box-shadow:1px 1px 8px -4px #6c6c6c; text-align:left;}
.loginCRM label{display:block; font:normal 15px "texgyreherosregular"; color:#4c4c4c; margin:0 0 7px 0; padding:0;}
.loginCRM input[type=text], .loginCRM input[type=password]{width:92%; padding:15px 3.5%; font:normal 11px "texgyreherosregular"; color:#939393; border:1px solid #d8d8d8; -khtml-box-shadow:inset 1px 1px 8px -6px #6c6c6c; -webkit-box-shadow:inset 1px 1px 8px -6px #6c6c6c; box-shadow:inset 1px 1px 8px -6px #6c6c6c;  -moz-border-radius:5px; -khtml-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; margin:0 0 10px 0; letter-spacing:0.5px;}

.loginCRM input[type=button]{width:100%; text-align:center; padding:11px 0; margin:20px 0 20px 0; color:#ffffff; font:normal 15px "texgyreherosregular"; background:#eb2429; border:0; letter-spacing:1px;  -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; cursor:pointer;}

.loginCRM span{font:normal 12px "texgyreherosregular"; color:#4c4c4c;}
.loginCRM span a{font:normal 11px "texgyreherosregular"; color:#4c4c4c; text-decoration:underline;}

.copyright{width:100%; float:left; padding:20px 0; margin:50px 0 0; text-align:center; color:#5c5c5c; font:normal 12px "texgyreherosregular";}

/*LOGIN SCREEN*/


/*LOGIN SCREEN 2*/

.top{width:100%; float:left; padding:0; margin:0;}
.container{width:1100px; margin:0 auto;}
.master{width:100%; float:left; padding:0; margin:0;}

.header{width:100%; float:left; padding:0; margin:12px 0 7px;}

.logo{width:auto; float:left; padding:0; margin:0;}

.menu{width:100%; float:left; padding:0; margin:0; background:url(../images/colored-border.jpg) no-repeat left top;}

/* Author: Craig Erskine Description: Dynamic Menu System - Horizontal/Vertical */ 
ul#navmenu-h {margin:0; padding:0; list-style:none; position:relative;} 
ul#navmenu-h ul {width:160px; /* Sub Menu Width */ margin:0; list-style:none; display:none; position:absolute; top:100%; left:0; } 
ul#navmenu-h ul ul,ul#navmenu-h ul ul ul {top:0; left:100%;} 
ul#navmenu-h li {float:left; display:inline; position:relative;} 
ul#navmenu-h ul li {width:100%; display:block; } 
/* Root Menu */ 
ul#navmenu-h a {padding:15px 11px 13px 0px; margin:0 12px 0 0; float:left; display:block; color:#fff; font:12px "texgyreherosregular"; text-decoration:none; height:1%; text-transform:uppercase; letter-spacing:1.5px; background:url(../images/menu-border.png) no-repeat right center;} 
ul#navmenu-h a img{vertical-align:top;}
/* Root Menu Hover Persistence */ 
ul#navmenu-h a:hover,ul#navmenu-h li:hover a,ul#navmenu-h li.iehover a {} 
/* 2nd Menu */ 
ul#navmenu-h li:hover li a,ul#navmenu-h li.iehover li a { float: none; background: #BBB; } 
/* 2nd Menu Hover Persistence */ 
ul#navmenu-h li:hover li a:hover,ul#navmenu-h li:hover li:hover a,ul#navmenu-h li.iehover li a:hover,ul#navmenu-h li.iehover li.iehover a { background: #999; } 
/* 3rd Menu */ 
ul#navmenu-h li:hover li:hover li a,ul#navmenu-h li.iehover li.iehover li a { background: #999; } 
/* 3rd Menu Hover Persistence */ 
ul#navmenu-h li:hover li:hover li a:hover,ul#navmenu-h li:hover li:hover li:hover a,ul#navmenu-h li.iehover li.iehover li a:hover,ul#navmenu-h li.iehover li.iehover li.iehover a { background: #666; } 
/* 4th Menu */ 
ul#navmenu-h li:hover li:hover li:hover li a,ul#navmenu-h li.iehover li.iehover li.iehover li a { background: #666; } 
/* 4th Menu Hover */ 
ul#navmenu-h li:hover li:hover li:hover li a:hover,ul#navmenu-h li.iehover li.iehover li.iehover li a:hover { background: #333; } 
/* Hover Function - Do Not Move */ 
ul#navmenu-h li:hover ul ul,ul#navmenu-h li:hover ul ul ul,ul#navmenu-h li.iehover ul ul,ul#navmenu-h li.iehover ul ul ul { display: none; } 
ul#navmenu-h li:hover ul,ul#navmenu-h ul li:hover ul,ul#navmenu-h ul ul li:hover ul,ul#navmenu-h li.iehover ul,ul#navmenu-h ul li.iehover ul,ul#navmenu-h ul ul li.iehover ul { display: block; }

.content{width:100%; float:left; padding:0; margin:17px 0 0 0;}
.c_left{width:690px; float:left; padding:0; margin:0;}
.cl_row{width:100%; float:left; padding:0; margin:0 0 28px 0;}

.latest_orders h3{border-bottom:2px solid #0191d8;}
.latest_orders h3 span{background:#0191d8; color:#ffffff; font:14px "texgyreherosregular"; display:inline-block; padding:8px 0px 6px; text-align:center; width:23%; letter-spacing:0.5px;}
.latest_orders table{width:100%; padding:0; margin:0; color:#525252; border-top:1px solid #e3e3e3; border-left:1px solid #e3e3e3;}
.latest_orders table th{padding:6px 0 7px; margin:0; background:#edf7ff; font:13px "texgyreherosregular"; text-align:center; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;}
.latest_orders table td{padding:6px 15px 7px; margin:0; font:12px "texgyreherosregular"; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;}
.latest_orders table td a, .latest_sale table td a, .latest_product table td a{display:block; color:#525252;}

.latest_sale h3{border-bottom:2px solid #f47e27;}
.latest_sale h3 span{background:#f47e27; color:#ffffff; font:14px "texgyreherosregular"; display:inline-block; padding:8px 0px 6px; text-align:center; width:23%; letter-spacing:0.5px;}
.latest_sale table{width:100%; padding:0; margin:0; color:#525252; border-top:1px solid #e3e3e3; border-left:1px solid #e3e3e3;}
.latest_sale table th{padding:6px 0 7px; margin:0; background:#fff3ea; font:13px "texgyreherosregular"; text-align:center; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;}
.latest_sale table td{padding:6px 15px 7px; margin:0; font:12px "texgyreherosregular"; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;}

.latest_product h3{border-bottom:2px solid #eb2429;}
.latest_product h3 span{background:#eb2429; color:#ffffff; font:14px "texgyreherosregular"; display:inline-block; padding:8px 0px 6px; text-align:center; width:23%; letter-spacing:0.5px;}
.latest_product table{width:100%; padding:0; margin:0; color:#525252; border-top:1px solid #e3e3e3; border-left:1px solid #e3e3e3;}
.latest_product table th{padding:6px 0 7px; margin:0; background:#ffeff0; font:13px "texgyreherosregular"; text-align:center; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;}
.latest_product table td{padding:6px 15px 7px; margin:0; font:12px "texgyreherosregular"; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;}


.c_right{width:367px; float:right; padding:0; margin:0;}
.cr_row{width:100%; float:left; padding:0; margin:0 0 28px 0;}

.cr_row h3{border-bottom:2px solid #666666;}
.cr_row h3 span{background:#666666; color:#ffffff; font:14px "texgyreherosregular"; display:inline-block; padding:8px 5% 6px; text-align:center; width:auto; letter-spacing:0.5px;}
.cr_row table{width:100%; padding:0; margin:0; color:#525252; border-top:1px solid #e3e3e3; border-left:1px solid #e3e3e3;}
.cr_row table th{padding:6px 0 7px; margin:0; background:#f6f6f6; font:13px "texgyreherosregular"; text-align:center; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;}
.cr_row table td{padding:6px 15px 7px; margin:0; font:12px "texgyreherosregular"; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;}
.cr_row table td a{display:block; color:#525252;}


/*LOGIN SCREEN 2*/


/*ORDER Page*/

.orders_page h3{border-bottom:2px solid #0191d8; position:relative;}
.orders_page h3 span{background:#0191d8; color:#ffffff; font:14px "texgyreherosregular"; display:inline-block; padding:8px 0 6px 15px; width:13.5%; letter-spacing:0.5px;}
.orders_page img{float:left; margin:3px 10px 0 0;}
.orders_page table{width:100%; padding:0; margin:0; color:#525252; border-top:1px solid #e3e3e3; border-left:1px solid #e3e3e3;}
.orders_page table th{padding:6px 0 5px; margin:0; background:#edf7ff; font:13px "texgyreherosregular"; text-align:center; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;}
.orders_page table td{padding:6px 15px 7px; margin:0; font:12px "texgyreherosregular"; border-right:1px solid #e3e3e3; border-bottom:1px solid #e3e3e3;}

.orders_page table td .input1{border:1px solid #d8d8d8; padding:3px 5px 2px 5px; width:80%; font:12px "texgyreherosregular";}
.orders_page table td .filter{background:#0191d8; color:#ffffff; font:12px "texgyreherosregular"; display:inline-block; width:80%; text-align:center; padding:3px 0;}
.orders_page table td a{color:#0191d8; display:inline-block; margin:0 5px 0 0;}

.orders_page table .width1{width:33px;}
.orders_page table .width2{width:99px;}
.orders_page table .width3{width:161px;}
.orders_page table .width4{width:169px;}
.orders_page table .width5{width:138px;}
.orders_page table .width6{width:176px;}
.orders_page table .width7{width:176px;}
.orders_page table .width8{width:136px;}

.pagination{border-bottom:1px solid #e3e3e3; border-left:1px solid #e3e3e3; border-right:1px solid #e3e3e3; width:100%; float:left; margin:0; padding:8px 1% 10px 1%; box-sizing:border-box; background:#fff; font:12px "texgyreherosregular";}
.pagination a{border:1px solid #e3e3e3; display:inline-block; padding:1px 7px 2px 8px; color:#525252; margin:0 1px 0 0; vertical-align:middle;}
.pagination a.active{border:1px solid #0191d8; color:#0191d8;}
.pagination span{color:#000; margin:2px 0 0 0;}
.pagination img{float:none; margin:0; padding:0;}


.invoice_button{background:#5a5a5a; color:#fff; padding:5px 10px 6px 10px; font:normal 13px "texgyreherosregular"; position:absolute; bottom:0; right:79px; letter-spacing:1px;}
.cancel_button{background:#5a5a5a; color:#fff; padding:5px 13px 6px 13px; font:normal 13px "texgyreherosregular"; position:absolute; bottom:0; right:0; letter-spacing:1px;}

.orderInvoice_Tab{width:100%; float:left; padding:0; margin:0; border:1px solid #e4e4e4; box-sizing:border-box; background:#fff; color:#525252; font:normal 12px "texgyreherosregular";}

.orderInvoice_Tab ul.tabs{margin:0px; padding:0px; list-style:none;}
.orderInvoice_Tab ul.tabs li{background:none; color:#222; display:inline-block; padding:10px 15px; cursor:pointer; border-right:1px solid #e4e4e4; float:left; margin:0;}
.orderInvoice_Tab ul.tabs li.current{background:#fafafa; color:#525252;}
.orderInvoice_Tab .tab-content{display:none; background:#fff; padding:0px; border-top:1px solid #e4e4e4; margin:0; float:left;}
.orderInvoice_Tab .tab-content.current{display:inherit;}


.orderInvoice_Tab_row{width:100%; float:left; padding:10px 15px; margin:0; border-bottom:1px solid #e4e4e4; box-sizing:border-box;}
.orderInvoice_Tab_row_col1{width:30%; float:left; padding:0; margin:0; font-weight:bold; color:#555555;}

.orderInvoice_Tab_row_col2{width:70%; float:left; padding:0; margin:0; color:#808080;}

/*ORDER Page*/


/*Products Page*/

.products_page h3{border-bottom:2px solid #0191d8; position:relative;}
.products_page h3 span{background:#0191d8; color:#ffffff; font:14px "texgyreherosregular"; display:inline-block; padding:8px 0 6px 15px; width:13.5%; letter-spacing:0.5px;}
.products_page img{float:left; margin:4px 10px 0 0;}

.save_button{background:#5a5a5a; color:#fff; padding:5px 20px 6px 20px; font:normal 13px "texgyreherosregular"; position:absolute; bottom:0; right:79px; letter-spacing:1px;}

.products_page_Tab{width:100%; float:left; padding:0; margin:0; border:1px solid #e4e4e4; box-sizing:border-box; background:#fff; color:#525252; font:normal 12px "texgyreherosregular";}

.products_page_Tab ul.tabs{margin:0px; padding:0px; list-style:none;}
.products_page_Tab ul.tabs li{background:none; color:#222; display:inline-block; padding:10px 15px; cursor:pointer; border-right:1px solid #e4e4e4; float:left; margin:0;}
.products_page_Tab ul.tabs li.current{background:#fafafa; color:#525252;}
.products_page_Tab .tab-content{display:none; background:#fff; padding:30px 0 30px 0px; border-top:1px solid #e4e4e4; margin:0; float:left; width:100%;}
.products_page_Tab .tab-content.current{display:inherit;}


.products_page_row{width:100%; float:left; padding:10px 15px; margin:0; box-sizing:border-box;}
.products_page_col1{width:50%; float:left; padding:0; margin:0; font-weight:bold; color:#555555;}
.products_page_col1_row{width:100%; float:left; padding:0; margin:0 0 10px 0; letter-spacing:0.5px; font:normal 11px "texgyreherosregular";}
.products_page_col1_row span.label{width:28%; display:inline-block; padding:0; margin:0 10px 0 0; text-align:right; font:bold 11px "texgyreherosregular"; color:#555555;}
.products_page_col1_row .inputtext{margin:0; padding:7px 10px; border:1px solid #d6d6d6; width:60%; box-sizing:border-box; font:normal 12px "texgyreherosregular"; color:#555555; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; vertical-align:middle;}
.products_page_col1_row .inputtextarea{margin:0; padding:7px 10px; border:1px solid #d6d6d6; width:60%; box-sizing:border-box; font:normal 12px "texgyreherosregular"; color:#555555; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; vertical-align:top;}

.products_page_col1_row .inputtext48{margin:0 5px 0 0; padding:7px 10px; border:1px solid #d6d6d6; width:29.1%; box-sizing:border-box; font:normal 12px "texgyreherosregular"; color:#555555; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; vertical-align:middle;}

.products_page_col1_row .inputtext27{margin:0 5px 0 0; padding:7px 10px; border:1px solid #d6d6d6; width:27.3%; box-sizing:border-box; font:normal 12px "texgyreherosregular"; color:#555555; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; vertical-align:middle;}

.coloreddiv{background:#f8f8f8; display:inline-block; padding:4px 6px 5px 5px; border:1px solid #d6d6d6; -moz-border-radius:2px; -khtml-border-radius:2px; -webkit-border-radius:2px; border-radius:2px;}

.products_page_col1_row input[type=checkbox]{vertical-align:bottom;}

.products_page_col2{width:50%; float:left; padding:0; margin:0; color:#808080;}

/* all form DIVs have position property set to relative so we can easily position newly created SPAN */
.products_page_Tab div{position:relative;} 

/* setting the width and height of the SELECT element to match the replacing graphics */
select.select{position:relative; z-index:10; width:146px !important; height:32px !important; line-height:32px;}

/* dynamically created SPAN, placed below the SELECT */
span.select{position:absolute; bottom:0; float:left; left:163px; width:146px; height:32px; line-height:32px; text-indent:10px; background:url(../images/select-dropdown.png) no-repeat 0 0; cursor:default; z-index:1;}
	
/* first variation (LABEL is above the SELECT) */	
form div.variation1 label{display:block;line-height:26px;}

/* second variation (LABEL is placed on the left of the SELECT) */	
form div.variation2 label{float:left;width:100px;line-height:26px;}
form div.variation2 span.select{left:100px;}


.menucreator{width:100%; float:left; padding:0; margin:0;}

/*Products Page*/
#registerList_AddMoreId .check_row, #regsiterList_viewId .check_row {
    width: 48%;
}


/* Manage Coupons Page */

#couponUploadForm .coupon_form_item {
    overflow: hidden;
    height: 35px;
    margin-top: 7px;
}
#couponUploadForm label {
    float: left;
    width: 15%;
    line-height: 35px;
    font-size: 16px;
}
#couponUploadForm .form-control {
    height: 35px;
    line-height: 35px;
}
/* Spa Outlet */
tr.spaServiceItem:nth-child(2n) {
	background: #cfc;
	box-shadow: 1px 1px 3px #000;
	border-radius: 7px;
}
span.serviceSerial {
	float: left;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background: #333;
	border: 2px solid #000;
	border-radius: 5px;
	margin-bottom: 15px;
}
input.spaServiceRowAction {
	display: block;
	width: 155px;
	background: #ff0000;
	color: #fff;
	cursor: pointer;
}
input.spaServiceAddAction {
	display: block;
	width: 155px;
	margin-top: 10px;
	color: #fff;
	cursor: pointer;
	background: #4869b0;
}
.priceDurationHolder {
	position: relative;
	margin-bottom: 5px;
	display: inline-block;
}
.priceDurationHolder input {
	width: 63px !important; 
}
div.priceDuration {
	width: 75px;
	float: left;
}
div.priceDuration+div.priceDuration {
	margin-left: 10px;
}
.addPriceDuration {
	position: absolute;
	left: -25px;
	top: 20px;
	cursor: pointer;
	border: 2px solid #ed3237;
	background: #721416;
	color: #fff;
	border-radius: 30px;
	height: 30px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	display: block;
	font-size: 27px;
	font-weight: bold;
	box-shadow: 1px 1px 5px #000, 1px 1px 2px #000 inset, -1px -1px 2px #000 inset;
}
.addPriceDuration:hover {
	box-shadow: 1px 1px 3px #000;
	background: #8E191B;
}
/* /Spa Outlet */

@media (max-width: 320px){

.category_resName {
    width: 85% !important;
    margin: 0;
    padding: 0 5% 0 10%;
}

}
@media (max-width: 480px){
.container {
    width: 96% !important;
    margin: 0 2%;
}
.memberForm_main{overflow:scroll!important;}
.category_resName {
    width: 85% !important;
    margin: 0;
    height:32px!important;	
}
.category_button{  height:32px!important;}
.logo img {
    width: 80%!important;
}
.header_right .loginFB {
    padding: 0;
    width: 120px !important;
    text-align: center;
}
.memberTitle_div{font-size:13px!important;}
.memberTitle_active,.memberTitle_link{padding: 4px 5px !important;font-size: 12px!important;}
.tableMember th{ padding-left: 2px!important;width:auto!important;
    padding-right: 2px!important; font: 600 12px/175% "Open Sans", Arial, Helvetica, sans-serif!important;
}
.tableMember a{font-size:10px !important;}
.tableMember td{padding-left: 2px!important;padding-right: 2px!important; 
font: 600 12px/175% "Open Sans", Arial, Helvetica, sans-serif!important;
}
.c_right{width:100%!important;}
ul#navmenu-h a{padding: 10px 6px 6px 0px !important;}

}